<!-- ====================================================================== -->
<!-- ======================= GEN08: TAB PANEL PAGE ======================== -->
<!-- ====================================================================== -->

<!-- ======================================================= -->
<!-- ======== KNOWN ISSUES ================================= -->
<!--

@LABEL: NEEDS WORK
@ISSUE: Abstract
@ISSUE: Abstract

-->

<!-- ======================================================= -->
<!-- ======== HTML ========================================= -->
<template>
	<cat01-cat-article catArticleHeading="Gen08: Tap panel">
		<cat02-cat-section catSectionHeading="Abstract">
			<p>
				Accessible tab panel component.
			</p>
			<p class="tlg-cat-section-important">
				IDs in Array and the complementary gen08-tab-panel-item component must match in order for the component to function properly.
			</p>
		</cat02-cat-section>

		<cat02-cat-section catSectionHeading="API">
			<table class="tlg-cat-section-api-table">
				<thead class="tlg-cat-section-api-table-thead">
					<tr>
						<th>Parameter</th>
						<th>Type</th>
						<th>Default</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody class="tlg-cat-section-api-table-tbody">
					<tr>
						<td class="tlg-cat-section-param">value*</td>
						<td class="tlg-cat-section-type">String</td>
						<td class="tlg-cat-section-def"></td>
						<td class="tlg-cat-section-des">Component is v-model based, prop value is required for v-model to function properly.</td>
					</tr>
					<tr>
						<td class="tlg-cat-section-param">tabs*</td>
						<td class="tlg-cat-section-type">Array</td>
						<td class="tlg-cat-section-def"></td>
						<td class="tlg-cat-section-des">Array for building tab controls.</td>
					</tr>

					<tr>
						<td class="tlg-cat-section-param">id</td>
						<td class="tlg-cat-section-type">String</td>
						<td class="tlg-cat-section-def"></td>
						<td class="tlg-cat-section-des">
							Component main ID.
						</td>
					</tr>
				</tbody>
			</table>
		</cat02-cat-section>

		<cat02-cat-section catSectionHeading="Examples">
			<cat03-component-example componentExampleHeading="Simple">
				<gen08-tab-panel
					v-model="activeTab"
					:tabs="tabsSimple"
					class="tlg-simple-tab-panel"
				>
					<gen08-tab-panel-item
						id="tab-simple-hello"
						:active="activeTab"
					>
						<article>
							<h2>Hello</h2>
							<p>Hello Lucas ipsum dolor sit amet antilles coruscant skywalker mara wookiee obi-wan padmé ahsoka sidious vader. Yoda organa anakin ewok. Jinn padmé mace mon. R2-d2 binks grievous ben moff antilles solo. C-3po calrissian lando wampa. Hutt han wookiee palpatine ahsoka mandalore han. Lando lando kenobi c-3p0 dooku antilles. </p>
						</article>
						</article>
					</gen08-tab-panel-item>
					<gen08-tab-panel-item
						id="tab-simple-ola"
						:active="activeTab"
					>
						<article>
							<h2>Ola</h2>
							<p>Ola Droid mara darth qui-gonn padmé leia utapau skywalker gonk. Ewok calrissian moff organa darth binks. Solo moff wedge chewbacca tusken raider. Mace darth darth vader biggs. Calamari amidala bothan amidala kit palpatine yoda. Organa skywalker kenobi jinn droid kessel. Mon cade hutt ewok skywalker.</p>
						</article>
					</gen08-tab-panel-item>
					<gen08-tab-panel-item
						id="tab-simple-szia"
						:active="activeTab"
					>
						<article>
							<h2>Szia</h2>
							<p>Szia Jango organa dooku aayla sidious naboo coruscant ahsoka jade. Owen dagobah boba dooku skywalker gamorrean yoda. Solo calrissian boba moff maul zabrak mothma ventress darth. Skywalker jar antilles darth skywalker. Boba jade c-3p0 ben ewok. Tatooine jade jango bothan ben. Naboo greedo qui-gon boba utapau bespin.</p>
						</article>
					</gen08-tab-panel-item>
				</gen08-tab-panel>
			</cat03-component-example>
		</cat02-cat-section>
	</cat01-cat-article>
</template>

<!-- ======================================================= -->
<!-- ======== JS =========================================== -->
<script>
	// ===== IMPORT CAT COMPONENTS ==================
	import Cat01CatArticle from '~/components/catalogue/cat01-cat-article';
	import Cat02CatSection from '~/components/catalogue/cat02-cat-section';
	import Cat03ComponentExample from '~/components/catalogue/cat03-component-example';

	// ===== IMPORT GEN COMPONENTS ==================
	import Gen08TabPanel from '~/components/general/gen08-tab-panel';
	import Gen08TabPanelItem from '~/components/general/gen08-tab-panel-item';

	// ===== EXPORT =================================
	export default {
		name: 'Gen08TabPanelPage',
		layout: 'catalogue',
		components: {
			Cat01CatArticle,
			Cat02CatSection,
			Cat03ComponentExample,
			Gen08TabPanel,
			Gen08TabPanelItem
		},
		data() {
			return {
				activeTab: 'tab-simple-ola',
                tabsSimple: [
                    {
                        "caption": "Hello",
                        "id": "tab-simple-hello",
                    },
                    {
                        "caption": "Ola",
                        "id": "tab-simple-ola",
                    },
                    {
                        "caption": "Szia",
                        "id": "tab-simple-szia",
                    }
                ],
			};
		}
	};
</script>
