<!-- ====================================================================== -->
<!-- ======================= GEN03: NAVIGATION PAGE ======================= -->
<!-- ====================================================================== -->

<!-- ======================================================= -->
<!-- ======== KNOWN ISSUES ================================= -->
<!--

@LABEL: NEEDS WORK
@LABEL: ADD NAVIGATION MODULE AS EXAMPLE

-->

<!-- ======================================================= -->
<!-- ======== HTML ========================================= -->
<template>
	<cat01-cat-article catArticleHeading="Gen03: Navigation">
		<cat02-cat-section catSectionHeading="Abstract">
			<p>
				The component acts as a site or page navigation. It's
				items can contain same-page anchors or site navigation hypertext
				links. Possible two-level navigation.
			</p>
			<p class="tlg-cat-section-important">
				General styling of the component manages only basics like removing &lt;ul&gt; default styles and horizontal or vertical navigation styles. It is modules' responsibility to style the navigation.
			</p>
		</cat02-cat-section>

		<cat02-cat-section catSectionHeading="API">
			<table class="tlg-cat-section-api-table">
				<thead class="tlg-cat-section-api-table-thead">
					<tr>
						<th>Parameter</th>
						<th>Type</th>
						<th>Default</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody class="tlg-cat-section-api-table-tbody">
					<tr>
						<td class="tlg-cat-section-param">menuRoutes*</td>
						<td class="tlg-cat-section-type">Array</td>
						<td class="tlg-cat-section-def"></td>
						<td class="tlg-cat-section-des">
							Build units for navigation items. Array key options: id, page/hash, text, img (optional). Array key option for second level: subnavigation, menuSubRoutes.
						</td>
					</tr>
					<tr>
						<td class="tlg-cat-section-param">label*</td>
						<td class="tlg-cat-section-type">String</td>
						<td class="tlg-cat-section-def"></td>
						<td class="tlg-cat-section-des">
							WAI ARIA label attribute, aids accessibility.
						</td>
					</tr>
					<tr>
						<td class="tlg-cat-section-param">propActiveHash</td>
						<td class="tlg-cat-section-type">String</td>
						<td class="tlg-cat-section-def"></td>
						<td class="tlg-cat-section-des">
							Sets the active same-page anchor link.
						</td>
					</tr>
					<tr>
						<td class="tlg-cat-section-param">menuCloseButton</td>
						<td class="tlg-cat-section-type">Boolean</td>
						<td class="tlg-cat-section-def">false</td>
						<td class="tlg-cat-section-des">
							Self-closing button.
						</td>
					</tr>
					<tr>
						<td class="tlg-cat-section-param">expanded</td>
						<td class="tlg-cat-section-type">Boolean</td>
						<td class="tlg-cat-section-def">false</td>
						<td class="tlg-cat-section-des">
							Adds the appropriate class when the navigation is collapsed or expanded.
						</td>
					</tr>
					<tr>
						<td class="tlg-cat-section-param">orientation</td>
						<td class="tlg-cat-section-type">String</td>
						<td class="tlg-cat-section-def">vertical</td>
						<td class="tlg-cat-section-des">
							Adds the appropriate class when the navigation is horizontal or vertical.
						</td>
					</tr>
					<tr>
						<td class="tlg-cat-section-param">id</td>
						<td class="tlg-cat-section-type">String</td>
						<td class="tlg-cat-section-def"></td>
						<td class="tlg-cat-section-des">
							ID of the conmponent.
						</td>
					</tr>
				</tbody>
			</table>
		</cat02-cat-section>

		<cat02-cat-section catSectionHeading="Examples">
			<cat03-component-example componentExampleHeading="Simple">
				<gen03-navigation
					:menuRoutes="simpleMenuRoutesArray"
					label="Simple navigation"
				/>
			</cat03-component-example>

			<cat03-component-example
				componentExampleHeading="Horizontal navigation"
			>
				<gen03-navigation
					role="banner"
					:menuRoutes="maimMenuRoutesArray"
					label="Main navigation with logo"
					orientation="horizontal"
				/>
			</cat03-component-example>
		</cat02-cat-section>
	</cat01-cat-article>
</template>

<!-- ======================================================= -->
<!-- ======== JS =========================================== -->
<script>
	// ===== IMPORT CAT COMPONENTS ==================
	import Cat01CatArticle from '~/components/catalogue/cat01-cat-article';
	import Cat02CatSection from '~/components/catalogue/cat02-cat-section';
	import Cat03ComponentExample from '~/components/catalogue/cat03-component-example';

	// ===== IMPORT GEN COMPONENTS ==================
	import Gen03Navigation from '~/components/general/gen03-navigation';

	// ===== EXPORT =================================
	export default {
		name: 'Gen03NavigationPage',
		layout: 'catalogue',
		components: {
			Cat01CatArticle,
			Cat02CatSection,
			Cat03ComponentExample,
			Gen03Navigation
		},
		data() {
			return {
				simpleMenuRoutesArray: [
					{
						id: 1,
						hash: '#tlg-gallery',
						text: 'Gallery',
					},
					{
						id: 2,
						hash: '#tlg-albums',
						text: 'Albums',
					},
					{
						id: 3,
						hash: '#tlg-about',
						text: 'About',
					},
					{
						id: 4,
						path: '/blog',
						text: 'Blog',
					}
				],
				maimMenuRoutesArray: [
					{
						id: 1,
						hash: '#tlg-gallery',
						text: 'Gallery',
					},
					{
						id: 2,
						hash: '#tlg-albums',
						text: 'Albums',
					},
					{
						id: 3,
						hash: '#tlg-about',
						text: 'About',
					},
					{
						id: 4,
						path: '/blog',
						text: 'Blog',
					}
				]
			};
		}
	};
</script>
