// ========================================================================= //
// ========================= TLG NAVIGATION VARIABLES ====================== //
// ========================================================================= //

// =============================================================== //
// ========== DIMENSIONS ========================================= //
$tlg-navigation-site-logo-img-width:           $tlg-base-main-logo-max-width;
$tlg-navigation-main-item-width:           	   calc(100% + (2 * #{$tlg-base-content-padding-x}));
$tlg-navigation-main-item-left-offset:          -1 * $tlg-base-content-padding-x;
$tlg-navigation-main-item-padding-x:           $tlg-base-content-padding-x;

// =============================================================== //
// ========== FONT =============================================== //
$tlg-navigation-font-size:						$tlg-large-font-size;
$tlg-navigation-font-size-desktop:				$tlg-large-font-size-desktop;

// =============================================================== //
// ========== TOGGLE BUTTON ====================================== //
$tlg-navigation-toggle-btn-ico-item-top:		6px;
$tlg-navigation-toggle-btn-ico-item-height:	2px;
$tlg-navigation-toggle-btn-ico-item-rotate:	45deg;


// =============================================================== //
// ========== RESPONSIVE ========================================= //
$tlg-navigation-vertical-item-height:			53px;


// =============================================================== //
// ========== COLOURS ============================================ //
$tlg-navigation-bg-colour:						$tlg-base-background-light-colour;
$tlg-navigation-bg-colour-active:				$tlg-base-colour-brand;
$tlg-navigation-txt-colour-active:				$tlg-base-colour-brand;
$tlg-navigation-bg-colour-hover:				$tlg-base-colour-brand-light;
