// ==================================================================
// ==================== TLG NAVIGATION ==============================
// ==================================================================
/*

@LABEL: NEEDS WORK
@ISSUE: IMPLEMENT TEXT FOR MENU TOGGLE BUTTON
@ISSUE: IMPLEMENT PROPER POSITIONING FOR TOGGLE BUTTON

*/

.tlg-m-navigation {
	top: 0;
	z-index: map-get($zindex, navigation);

	// =========================================================
	// ====== MENU TOGGLE BUTTON ===============================
	.tlg-navigation-button-toggle {
		position: absolute;
		top: 20px;
		right: 15px; // TODO var padding
		width: 30px;
		height: 20px;
		z-index: map-get($zindex, navigation);

		.tlg-text {
			font-size: 12px;
			text-indent: -9999px; // TODO style text properly under the button
		}

		span {
			position: absolute;
			height: $tlg-navigation-toggle-btn-ico-item-height;
			width: 100%;
			top: $tlg-navigation-toggle-btn-ico-item-top;
			left: 0;
			background: #000;
			transition: all 0.5s cubic-bezier(0, 0.275, 0.125, 1);

			&::before, &::after {
				content: '';
				position: absolute;
				top: -1 * $tlg-navigation-toggle-btn-ico-item-top;
				left: 0;
				height: $tlg-navigation-toggle-btn-ico-item-height;
				width: 100%;
				background: #000;
				transition: all 0.5s cubic-bezier(0, 0.275, 0.125, 1);
			}

			&:after {
				top: $tlg-navigation-toggle-btn-ico-item-top;
			}
		}
	}

	// =========================================================
	// ====== MENU NAVIGATION LIST =============================
	.tlg-navigation-list {
		flex-direction: column;
		position: relative;
		height: 0; // probably solved the translateX issue
		overflow: visible;
	}

	.tlg-navigation-main-item {
		width: $tlg-navigation-main-item-width;
		margin-left: $tlg-navigation-main-item-left-offset;
		padding-left: $tlg-navigation-main-item-padding-x;
		padding-right: $tlg-navigation-main-item-padding-x;
		background: rgba($tlg-navigation-bg-colour, .8);
		transition: all 0.3s ease-in-out; // TODO all transition in var
		will-change: transform, background-color;

		//=== LISTEM ITEMS DIRECT CHILDREN ANCHOR, BUTTON
		a,
		button {
			display: flex;
			align-items: flex-end;
			width: 100%;
			height: 100%;
			text-decoration: none;
		}

		//=== EXCEPT THE IMAGE HOME TAB
		&:not(.tlg-navigation-img-item) {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			z-index: map-get($zindex, navigation);

			&:hover,
			&:focus {
				background: $tlg-navigation-bg-colour;
				color: $tlg-navigation-txt-colour-active;
			}

			&:nth-child(odd) {
				transform: translateX(100%);
			}

			&:nth-child(even) {
				transform: translateX(-100%);
			}

			//=== LIST ITEM CHILDREN: ANCHOR, DIRECT SPAN
			a,
			> .tlg-text {
				padding: 15px 0; // FIXME padding only needed for anchor, find a workaround
				color: $tlg-base-colour-dark;
				font-size: $tlg-navigation-font-size;
				font-weight: bold;
				transition: all 0.5s ease;
				cursor: pointer;

				.tlg-text,
				&.tlg-text {
					margin: 0 auto;
				}

				&:active,
				&.tlg-exact-active-link {
					color: $tlg-navigation-txt-colour-active;
				}
			}
		}

		//=== HAS SUBNAVIGATION
		&.tlg-has-subnavigation {
			flex-direction: column;
		}

		//=== SECOND LEVEL
		.tlg-navigation-subnavigation {
			display: none;
			justify-content: space-around;
			width: 100%;

			.tlg-navigation-sub-item {
				.tlg-text {
					font-weight: normal;
				}
			}
		}
	}

	//=== SVG LOGO
	.tlg-navigation-img-item {
		flex: 1 0 50%;

		a {
			justify-content: left;
			max-width: $tlg-navigation-site-logo-img-width;

			&:hover,
			&:focus {
				background-color: transparent;

				.tlg-site-logo-img {
					filter: drop-shadow(3px 3px 2px rgba($tlg-base-colour-brand, 0.8));
				}
			}
		}

		.tlg-site-logo-img {
			max-width: $tlg-navigation-site-logo-img-width;
			transition: all 0.5s ease;
		}
	}


	// =========================================================
	// ====== MODIFIERS ========================================
	&.tlg-is-expanded {
		.tlg-navigation-button-toggle {
			span {
				background: transparent;

				&:before {
					transform: translateY($tlg-navigation-toggle-btn-ico-item-top) translateX(1px) rotate($tlg-navigation-toggle-btn-ico-item-rotate);
				}

				&:after {
					transform: translateY(-1 * $tlg-navigation-toggle-btn-ico-item-top) translateX(1px) rotate(-1 * $tlg-navigation-toggle-btn-ico-item-rotate);
				}
			}
		}


		.tlg-navigation-main-item {
			&:not(.tlg-navigation-img-item) {
				transform: translateX(0);
			}
		}
	}



	// ==================================================================
	// ==================== BRANCHES ====================================
	// ==================================================================

	// =========================================================
	// ====== MAIN NAVIGATION ==================================
	&.tlg-is-main-nav {
		position: sticky;
	}

	// =========================================================
	// ====== PHOTOSTREAM NAVIGATION ===========================
	&.tlg-is-photostream-nav {
		position: fixed;

		//=== Albums clicked
		&.tlg-is-nav-albums {
			.tlg-navigation-item-albums-main {
				.tlg-navigation-subnavigation {
					display: flex;
				}
			}
		}

		//=== Gallery clicked
		&.tlg-is-nav-gallery {
			.tlg-navigation-item-gallery-main {
				.tlg-navigation-subnavigation {
					display: flex;
				}
			}
		}
	}
}
