// ========================================================================= //
// ========================= FRM03: PASSWORD =============================== //
// ========================================================================= //

// =========================================================
// ====== VARIABLES ========================================

// ===== GENERAL =====================
$tlg-password-button-height:                       $tlg-base-input-height;
$tlg-password-button-width:                        $tlg-password-button-height;

$tlg-password-icon-height:                         24px;
$tlg-password-icon-width:                          24px;

$tlg-password-input-padding-x:                     $tlg-password-button-width;

// =========================================================
// ====== COLORS ===========================================

// ===== GENERAL =====================
$tlg-input-bg-colour:								$tlg-base-background-light-colour;
