// ========================================================================= //
// ========================= FRM01: LABEL ================================== //
// ========================================================================= //

.tlg-c-label {
	display: flex;
	align-items: center;
	margin-right: 20px;
	white-space: nowrap;
}

