// ========================================================================= //
// ========================= FRM02: INPUT FIELD ============================ //
// ========================================================================= //

.tlg-c-input-field {
    @extend %tlg-c-input;

    // =========================================================
	// ====== MODIFIERS ========================================

    // === DISABLED ======================
    &.tlg-is-disabled {
        .tlg-select {
            cursor: default;
        }
    }
}
