// ==================================================================
// ==================== FRM06: HYPER BUTTON =========================
// ==================================================================

// =========================================================
// ====== VARIABLES ========================================

// ===== BUTTON ======================
$tlg-button-offset: 					4px;
$tlg-button-border-radius: 				$tlg-base-border-radius;

// =========================================================
// ====== COLORS ===========================================
$tlg-button-bottom-shd-color: 			darken($tlg-base-colour-brand,20%);

// ===== PRIMARY =====================
$tlg-button-primary-bg-color: 			$tlg-base-colour-brand;
$tlg-button-primary-text-color: 		$tlg-base-colour-white;

// ===== SECONDARY ===================
$tlg-button-secondary-bg-color:			transparent;
$tlg-button-secondary-border-color:		$tlg-base-colour-brand;
$tlg-button-secondary-border-width:		4px;

