// ==================================================================
// ==================== FRM06: HYPER BUTTON =========================
// ==================================================================
/*

@LABEL: NEEDS WORK
@ISSUE: IMPLEMENT focus styles, same as hover

*/

.tlg-c-hyper-button {
	// =========================================================
	// ====== GENERAL ==========================================
	display: inline-block;

	// ===== BUTTON ======================
	&.tlg-is-button {
		display: inline-block;
		position: relative;
		cursor: pointer;
		text-align: center;
		vertical-align: middle;
		border: 0;

		&:focus {
			outline: none;
		}

		// =========================================================
		// ====== MODIFIERS ========================================

		// ===== PRIMARY & SECONDARY =========
		&.tlg-is-primary,
		&.tlg-is-secondary {
			top: 0;
			margin: 5px 0;
			padding: 10px 15px;
			border-radius: $tlg-button-border-radius;
			box-shadow: 0px $tlg-button-offset 0px 0px $tlg-button-bottom-shd-color;
			overflow: hidden;
			transition: all 0.2s;

			&:active {
				top: $tlg-button-offset;
				box-shadow: 0px 1px 0px 0px $tlg-button-bottom-shd-color;
			}
		}

		// ===== PRIMARY =====================
		&.tlg-is-primary {
			color: $tlg-button-primary-text-color;
			background: $tlg-button-primary-bg-color;
		}

		// ===== SECONDARY ====================
		&.tlg-is-secondary {
			position: relative;
			background: $tlg-button-secondary-bg-color;

			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				border: $tlg-button-secondary-border-width solid
					$tlg-button-secondary-border-color;
				border-radius: $tlg-button-border-radius;
			}
		}

		// ===== INTERNAL ==================
		&.tlg-is-internal {
			background-color: transparent;
			padding: 0;
		}

		// =========================================================
		// ====== STATES ===========================================

		// ===== DISABLED ====================
		&.tlg-is-disabled {
			cursor: default;
			filter: grayscale(80%);

			&:active {
				top: 0;
				box-shadow: 0px $tlg-button-offset 0px 0px
					$tlg-button-bottom-shd-color;
			}
		}
	}
}
