// ========================================================================= //
// ========================= FRM03: PASSWORD ============================ //
// ========================================================================= //
.tlg-c-password {
	@extend %tlg-c-input;

	// =========================================================
	// ====== MODIFICATORS =====================================

	// ===== TOGGLE BUTTON ===============
	&.tlg-has-mask-toggle {
		.tlg-input {
			padding-right: $tlg-password-input-padding-x;
		}

		.tlg-is-button {
			&.tlg-mask-toggle {
				position: absolute;
				right: 0;
				bottom: 0;
				width: $tlg-password-button-width;
				height: $tlg-password-button-height;

				&::before {
					content: '';
					position: absolute;
					top: floor(
						(
								$tlg-password-button-height -
									$tlg-password-icon-height
							) / 2
					);
					right: floor(
						(
								$tlg-password-button-height -
									$tlg-password-icon-height
							) / 2
					);
					bottom: 0;
					width: $tlg-password-icon-width;
					height: $tlg-password-icon-height;
					background-color: transparent;
					background-image: url(~assets/theme/images/icons/tlg-password-icon-show.svg);
					background-position: center;
					background-repeat: no-repeat;
					background-size: contain;
				}

				.tlg-text {
					@include mx-text-hidden;
				}

				.tlg-button {
					position: relative;
					display: block;
					background: none;
					border: none;
					outline: none;
				}
			}
		}

		&.tlg-is-unmasked {
			.tlg-mask-toggle {
				&::before {
					background-image: url(~assets/theme/images/icons/tlg-password-icon-hide.svg);
				}
			}
		}
	}

	// =========================================================
	// ====== STATES ===========================================

	// === READ ONLY ====================
	&.tlg-is-readonly {
		.tlg-button {
			&::before {
				//opacity: $global-icon-opacity-disabled;
			}
		}
	}

	// === DISABLED ======================
	&.tlg-is-disabled {
		.tlg-button {
			&::before {
				//opacity: $global-icon-opacity-disabled;
			}
		}
	}
}
