// ==================================================================
// ==================== PRJ01: IMAGE SECTION ========================
// ==================================================================
/*

@LABEL: NEEDS WORK
@ISSUE: H3 LINE HEIGHT QUESTIONABLE

*/

// =========================================================
// ====== GENERAL ==========================================

.tlg-c-image-section {
	padding-top: 20px;

  .tlg-image-section-title {
    font-family: $tlg-font-decorative;
    text-align: center;
  }

  // ===== LIST ==========================
  .tlg-image-section-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .tlg-image-section-item {
    position: relative;
    width: 100%;
    margin-bottom: $tlg-image-section-item-margin-y;

    .tlg-image-section-item-link {
      &:hover {
        .tlg-image-section-item-title {
          opacity: 1;
        }
      }

      &:hover {
        .tlg-image-section-img {
          opacity: 0.3;
        }
      }
    }

    .tlg-image-section-item-title {
      position: absolute;
      top: 0;
      left: 0;
      padding: 2vw;
      margin: 0;
      font-weight: $tlg-image-section-item-title-weight;
      color: $tlg-image-section-item-title-colour;
      opacity: 0;
      transition: opacity .6s linear;
    }

    .tlg-image-section-img {
		display: block;
      width: 100%;
      // height: 100%;
      transition: opacity .6s ease-in-out;
    }
  }
}

// =============================================================== //
// ========== RESPONSIVE (PHONE - TABLET) ========================= //
@include mx-media-query(phone) {
  .tlg-c-image-section {
    .tlg-image-section-item {
      width: 48%;
    }
  }
}

// =============================================================== //
// ========== RESPONSIVE (TABLET - 100%) ========================= //
@include mx-media-query(tablet) {
  .tlg-c-image-section {
    .tlg-image-section-item {
      width: 30%;
      margin-bottom: $tlg-image-section-item-margin-y-desktop;
    }
  }
}
