// ==================================================================
// ==================== PRJ02: THE FOOTER ===========================
// ==================================================================
/*

@LABEL: NEEDS WORK
@ISSUE: IMPLEMENT BACK TO TOP LINK
@ISSUE: IMPLEMENT BG RESPONSIVE
@ISSUE: IMPLEMENT SOCIAL ICONS ON HOVER

*/

// =========================================================
// ====== GENERAL ==========================================

.tlg-c-the-footer {
	position: relative;
	height: $tlg-the-footer-height;
	padding: $tlg-the-footer-padding;

	// ===== BACKGROUND IMAGE ================
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: $tlg-the-footer-bg-colour
			url(~assets/theme/images/bg/tlg-footer-bg-image.jpg) no-repeat
			center / cover;
		filter: brightness(0.3);
	}

	// ===== CONTENT =========================
	.tlg-the-footer-content {
		display: flex;
		position: relative; // place content 'on top' of the pseudo element
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		height: 100%;
		color: $tlg-the-footer-txt-colour;
	}

	// ===== HEADING =========================
	.tlg-footer-heading {
		margin: 0;
	}

	// ===== SOCIAL ICONS LIST ================
	.tlg-navigation-list {
		justify-content: center;
	}

	.tlg-navigation-main-item {
		padding: 10px;

		.tlg-text {
			@include mx-text-hidden;
		}

		.tlg-is-anchor {
			position: relative;
			width: $tlg-the-footer-social-icon-width;
			height: $tlg-the-footer-social-icon-height;

			&::before {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				width: $tlg-the-footer-social-icon-width;
				height: $tlg-the-footer-social-icon-height;
				background-repeat: no-repeat;
				background-size: contain;
			}
		}

		// ===== SOCIAL ICONS ====================
		&.tlg-navigation-item-tlg-footer-email {
			.tlg-is-anchor {
				&::before {
					background-image: url(~assets/theme/images/icons/tlg-global-gmail-polygon.svg);
				}
			}
		}

		&.tlg-navigation-item-tlg-footer-linkedin {
			.tlg-is-anchor {
				&::before {
					background-image: url(~assets/theme/images/icons/tlg-global-linkedin-polygon.svg);
				}
			}
		}

		&.tlg-navigation-item-tlg-footer-flickr {
			.tlg-is-anchor {
				&::before {
					background-image: url(~assets/theme/images/icons/tlg-global-flickr-polygon.svg);
				}
			}
		}
	}

	// ===== ACKNOWLEDGMENT ==================
	.tlg-footer-acknowledgment {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0;

		.tlg-footer-acknowledgment-icon {
			display: inline-block;
			position: relative;

			.tlg-text {
				@include mx-text-hidden;
			}

			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				background-repeat: no-repeat;
				background-size: contain;
			}

			// ===== TOOLCHAIN ICONS =================
			&.tlg-footer-vue {
				width: $tlg-the-footer-vue-icon-width;
				height: $tlg-the-footer-vue-icon-height;
				margin: 0 10px;

				&::before {
					width: $tlg-the-footer-vue-icon-width;
					height: $tlg-the-footer-vue-icon-height;
					background-image: url(~assets/theme/images/icons/tlg-global-vue-icon.svg);
				}
			}

			&.tlg-footer-nuxt {
				width: $tlg-the-footer-nuxt-icon-width;
				height: $tlg-the-footer-nuxt-icon-height;
				margin-left: 10px;

				&::before {
					width: $tlg-the-footer-nuxt-icon-width;
					height: $tlg-the-footer-nuxt-icon-height;
					background-image: url(~assets/theme/images/icons/tlg-global-nuxt-icon.svg);
				}
			}
		}
	}

	// ===== COPYRIGHT =======================
	.tlg-footer-copyright {
		margin: 0;
		font-size: $tlg-the-footer-copy-font-size;
	}
}

// =============================================================== //
// ========== RESPONSIVE (PHONE - TABLET) ========================= //
@include mx-media-query(phone) {
}

// =============================================================== //
// ========== RESPONSIVE (TABLET - 100%) ========================= //
@include mx-media-query(tablet) {
	.tlg-c-the-footer {
		padding: $tlg-the-footer-padding-desktop;

		.tlg-footer-copyright {
			font-size: $tlg-the-footer-copy-font-size-desktop;
		}
	}
}
