// ========================================================================= //
// ========================= PRJ03: HOME BANNER ============================ //
// ========================================================================= //

// =============================================================== //
// ========== RESPONSIVE (PHABLET - TABLET) ====================== //
@include mx-media-query(phablet) {
	.tlg-c-home-banner {
		.tlg-home-banner-par {
			.tlg-home-banner-leading-item {
				width: 30%;
				text-align: right;
			}

			.tlg-home-banner-toggle-items {
				width: 50%;
				text-align: center;
			}
		}
	}
}

// =============================================================== //
// ========== RESPONSIVE (TABLET - 100%) ========================= //
@include mx-media-query(tablet) {
	.tlg-c-home-banner {
		.tlg-home-banner-par {
			.tlg-home-banner-toggle-items {
				&::before {
					left: $tlg-home-banner-brace-icon-offset-x-desktop;
				}

				&::after {
					right: $tlg-home-banner-brace-icon-offset-x-desktop;
				}
			}
		}
	}
}
