// ==================================================================
// ==================== PRJ03: HOME BANNER ==========================
// ==================================================================
/*

@LABEL: NEEDS WORK
@ISSUE: IMPLEMENT SRCSET FOR 2X IMAGES
@ISSUE: IMPLEMENT BG RESPONSIVE

*/

// =========================================================
// ====== GENERAL ==========================================

.tlg-c-home-banner {
	position: relative;
	height: $tlg-home-banner-height;
	width: $tlg-home-banner-width;
	box-shadow: inset 0 0 10px $tlg-home-banner-bg-colour;
	overflow: hidden;

	// ===== BACKGROUND IMAGE ================
	&::before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		background: $tlg-home-banner-bg-colour url(~assets/theme/images/bg/tlg-home-banner-bg-image.jpg) no-repeat center / cover;
		filter: blur(0px) brightness(0.6);
		transform: scale(1.02);
		transition: $tlg-home-banner-transition;
		will-change: transform, filter;
	}

	// ===== CONTENT WRAPPER =================
	.tlg-home-banner {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
	}

	// ===== HEADING =========================
	.tlg-home-banner-title {
		position: relative;
		width: $tlg-home-banner-heading-width;
		max-width: 100%;
		height: $tlg-home-banner-heading-height;
		transition: $tlg-home-banner-transition;
		z-index: map-get($zindex, overPseudo);

		&:hover {
			transform: scale(1.05);
		}

		// ===== LOGO ============================
		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			background-image: url(~static/img/logo/thisleafgatherer-logo-inv.svg);
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
		}

		.tlg-h1 {
			@include mx-text-hidden;
		}
	}

	// ===== PARAGRAPH =======================
	.tlg-home-banner-par {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		min-width: 100%;
		color: $tlg-home-banner-txt-colour;

		.tlg-home-banner-leading-item {
			width: 100%;
			text-align: center;
		}

		.tlg-home-banner-toggle-items {
			position: relative;
			width: 100%;
			text-align: center;

			// === CURLY BRACES ICONS
			&::before {
				content: '';
				position: absolute;
				top: $tlg-home-banner-brace-icon-offset-y;
				left: 10px;
				width: ($tlg-home-banner-brace-icon-width * $tlg-home-banner-brace-icon-sizer) * $tlg-home-banner-brace-icon-amount;
				height: $tlg-home-banner-brace-icon-height * $tlg-home-banner-brace-icon-sizer;
				background-image: url(~assets/theme/images/icons/tlg-global-curly-brace-icon.svg);
				background-repeat: repeat-x;
				background-size: contain;
				opacity: 0.8;
			}

			&::after {
				content: '';
				position: absolute;
				top: $tlg-home-banner-brace-icon-offset-y;
				right: 10px;
				width: ($tlg-home-banner-brace-icon-width * $tlg-home-banner-brace-icon-sizer) * $tlg-home-banner-brace-icon-amount;
				height: $tlg-home-banner-brace-icon-height * $tlg-home-banner-brace-icon-sizer;
				background-image: url(~assets/theme/images/icons/tlg-global-curly-brace-icon.svg);
				background-repeat: repeat-x;
				background-size: contain;
				transform: scaleX(-1);
				opacity: 0.8;
			}

			span {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				opacity: 0;
				z-index: map-get($zindex, overPseudo);
				animation: banner-toggle-items 6s infinite;


				&:nth-child(2) {
					animation-delay: 2s;
				}

				&:nth-child(3) {
					animation-delay: 4s;
				}
			}
		}
	}

	// =========================================================
	// ====== KEYFRAMES ========================================
	@-webkit-keyframes banner-toggle-items {
		0% {
			opacity: 0;
			-webkit-transform: translateY(-40px) rotateX(40deg);
			transform: translateY(-40px) rotateX(40deg)
		}
		22% {
			opacity: 1;
			-webkit-transform: translateY(0) rotateX(0);
			transform: translateY(0) rotateX(0)
		}
		33% {
			opacity: 1;
			-webkit-transform: translateY(0) rotateX(0);
			transform: translateY(0) rotateX(0)
		}
		44% {
			opacity: 0;
			-webkit-transform: translateY(40px) rotateX(-40deg);
			transform: translateY(40px) rotateX(-40deg)
		}
		100% {
			opacity: 0;
			-webkit-transform: translateY(40px) rotateX(-40deg);
			transform: translateY(40px) rotateX(-40deg)
		}
	}
	@keyframes banner-toggle-items {
		0% {
			opacity: 0;
			-webkit-transform: translateY(-40px) rotateX(40deg);
			transform: translateY(-40px) rotateX(40deg)
		}
		22% {
			opacity: 1;
			-webkit-transform: translateY(0) rotateX(0);
			transform: translateY(0) rotateX(0)
		}
		33% {
			opacity: 1;
			-webkit-transform: translateY(0) rotateX(0);
			transform: translateY(0) rotateX(0)
		}
		44% {
			opacity: 0;
			-webkit-transform: translateY(40px) rotateX(-40deg);
			transform: translateY(40px) rotateX(-40deg)
		}
		100% {
			opacity: 0;
			-webkit-transform: translateY(40px) rotateX(-40deg);
			transform: translateY(40px) rotateX(-40deg)
		}
	}

	// =========================================================
	// ====== MOFIFIERS ========================================

	// ===== TITLE HOVER OVER ================
	&.tlg-has-title-hovered-over {
		&::before {
			filter: blur(3px) brightness(0.4);
			transform: scale(1);
		}
	}
}


