// ==================================================================
// ==================== PRJ01: IMAGE SECTION ========================
// ==================================================================

// =========================================================
// ====== IMAGE SECTION ITEM ===============================
$tlg-image-section-padding-y:               	$tlg-base-block-margin;

$tlg-image-section-item-margin-y:               2 * $tlg-base-block-margin;
$tlg-image-section-item-margin-y-desktop:       2 * $tlg-base-block-margin-desktop;

$tlg-image-section-item-title-colour:           $tlg-base-colour-dark;
$tlg-image-section-item-title-weight:           $tlg-bold-font-weight;
