// ==================================================================
// ==================== PRJ02: THE FOOTER ===========================
// ==================================================================

// =========================================================
// ====== GENERAL ==========================================
$tlg-the-footer-height:					350px;
$tlg-the-footer-padding:				30px $tlg-base-content-padding-x;
$tlg-the-footer-padding-desktop:		40px $tlg-base-content-padding-x-desktop;

$tlg-the-footer-social-icon-width:		37px;
$tlg-the-footer-social-icon-height:		40px;

$tlg-the-footer-vue-icon-width:			40px;
$tlg-the-footer-vue-icon-height:		34px;
$tlg-the-footer-nuxt-icon-width:		45px;
$tlg-the-footer-nuxt-icon-height:		34px;

$tlg-the-footer-copy-font-size:			$tlg-small-font-size;
$tlg-the-footer-copy-font-size-desktop:	$tlg-small-font-size-desktop;

// =========================================================
// ====== COLOURS ==========================================
$tlg-the-footer-bg-colour:				$tlg-base-colour-brown;
$tlg-the-footer-txt-colour: 			$tlg-base-colour-light;

