// ==================================================================
// ==================== PRJ02: THE FOOTER ===========================
// ==================================================================

// =========================================================
// ====== GENERAL ==========================================

// ===== DIMENSTIONS =================
$tlg-home-banner-height:						100vh;
$tlg-home-banner-width:							100%;

$tlg-home-banner-brace-icon-width:				8px;
$tlg-home-banner-brace-icon-height:				24px;
$tlg-home-banner-brace-icon-sizer:				3;
$tlg-home-banner-brace-icon-amount:				2;
$tlg-home-banner-brace-icon-offset-y:			-10px;
$tlg-home-banner-brace-icon-offset-x:			10px;
$tlg-home-banner-brace-icon-offset-x-desktop:	20px;



// ===== TRANSITIONS =================
$tlg-home-banner-transition:					all 0.5s ease-in-out;

// ===== HEADING =====================
$tlg-home-banner-heading-width:					500px;
$tlg-home-banner-heading-height:				110px;

// =========================================================
// ====== COLOURS ==========================================
$tlg-home-banner-bg-colour:						$tlg-base-colour-black;
$tlg-home-banner-txt-colour: 					$tlg-base-colour-light;

