<!-- ====================================================================== -->
<!-- ======================= CAT02: COMPONENT EXAMPLE ===================== -->
<!-- ====================================================================== -->

<!-- ======================================================= -->
<!-- ======== KNOWN ISSUES ================================= -->
<!--

@LABEL: STABLE

-->

<!-- ======================================================= -->
<!-- ======== HTML ========================================= -->
<template>
  <div class="tlg-c-component-example">
      <gen01-heading
        class="tlg-component-example-heading"
        :h3="componentExampleHeading"
      />

    <div class="tlg-component-example-content">
      <slot></slot>
    </div>
  </div>
</template>

<!-- ======================================================= -->
<!-- ======== JS =========================================== -->
<script>
import Gen01Heading from '~/components/general/gen01-heading'

export default {
  name: 'Cat02CatSection',
  components: {
    Gen01Heading
  },
  props: {
    'componentExampleHeading': {
      required: true,
      type: String
    }
  },
}
</script>
