<!-- ====================================================================== -->
<!-- ======================= CAT02: CAT SECTION =========================== -->
<!-- ====================================================================== -->

<!-- ======================================================= -->
<!-- ======== KNOWN ISSUES ================================= -->
<!--

@LABEL: STABLE

-->

<!-- ======================================================= -->
<!-- ======== HTML ========================================= -->
<template>
  <section class="tlg-component tlg-c-cat-section">

      <gen01-heading
        class="tlg-cat-section-heading"
        :h2="catSectionHeading"
      />

    <div class="tlg-cat-section-content">
      <slot></slot>
    </div>

  </section>
</template>

<!-- ======================================================= -->
<!-- ======== JS =========================================== -->
<script>
import Gen01Heading from '~/components/general/gen01-heading'

export default {
  name: 'Cat02CatSection',
  components: {
    Gen01Heading
  },
  props: {
    'catSectionHeading': {
      required: true,
      type: String
    }
  },
}
</script>
