<!-- ====================================================================== -->
<!-- ======================= CAT01: CAT ARTICLE =========================== -->
<!-- ====================================================================== -->

<!-- ======================================================= -->
<!-- ======== KNOWN ISSUES ================================= -->
<!--

@LABEL: STABLE

-->

<!-- ======================================================= -->
<!-- ======== HTML ========================================= -->
<template>
	<article class="tlg-component tlg-c-cat-article">
		<header class="tlg-cat-article-header">
			<gen01-heading class="tlg-cat-article-heading" :h1="catArticleHeading" />
		</header>

		<main class="tlg-main">
			<section class="tlg-cat-article-content">
				<slot></slot>
			</section>
		</main>
	</article>
</template>

<!-- ======================================================= -->
<!-- ======== JS =========================================== -->
<script>
	// ===== IMPORT =================================
	import Gen01Heading from '~/components/general/gen01-heading';

	// ===== EXPORT =================================
	export default {
		name: 'Cat01CatArticle',
		components: {
			Gen01Heading,
		},
		props: {
			catArticleHeading: {
				required: true,
				type: String
			}
		}
	};
</script>
