// ========================================================================= //
// ========================= GEN08: TAB PANEL ============================== //
// ========================================================================= //

// =============================================================== //
// ========== RESPONSIVE (TABLET - 100%) ========================= //
@include mx-media-query(tablet) {
    .tlg-c-tab-panel {
        &.tlg-is-fixed {
            .tlg-b-controls {
                position: static;
            }
        }

        .tlg-b-content-tabs {
            .tlg-tab-content {
                display: none;
                padding: $tlg-tab-panel-content-padding-desktop;
            }
        }
    }
}
