// ==================================================================
// ==================== GEN05: MASONRY ==============================
// ==================================================================
/*

@LABEL: NEEDS WORK
@ISSUE: MEDIA QUERIES AND IMAGE SIZES
@ISSUE: TAB FOCUS STYLE
@COMMENT: WIDTH OF THUMBS EXPORTED AT 506PX

*/

// =========================================================
// ====== GENERAL ==========================================
.tlg-c-masonry {
	.tlg-masonry-ul {
		margin: 0;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		list-style: none;
	}

	.tlg-masonry-li {
		flex-grow: 1;
		margin: 0;
		padding: 0 $tlg-masonry-item-padding $tlg-masonry-item-padding 0;
		max-width: 500px;
		overflow: hidden;
		cursor: pointer;
	}

	.tlg-masonry-img {
		display: block;
		min-width: 100%;
		height: $tlg-masonry-img-height;
		object-fit: cover;
		filter: brightness(90%);
		transition: all .3s ease-in-out;
	}

	&:hover {
		.tlg-masonry-img {
			filter: brightness(105%);
		}
	}

	&:focus {
		&::before {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 3;
		}
	}

	// =============================================================== //
	// ========== RESPONSIVE (PHONE - PHABLET) ======================= //
	@include mx-media-query(phone) {
		.tlg-masonry-img {
			height: $tlg-masonry-img-height-phone;
		}
	}

	// =============================================================== //
	// ========== RESPONSIVE (PHABLET - TABLET) ====================== //
	@include mx-media-query(phablet) {
		.tlg-masonry-img {
			height: $tlg-masonry-img-height-phablet;
		}
	}

	// =============================================================== //
	// ========== RESPONSIVE (TABLET - LAPTOP) ========================= //
	@include mx-media-query(tablet) {
		.tlg-masonry-img {
			height: $tlg-masonry-img-height-tablet;
		}
	}

	// =============================================================== //
	// ========== RESPONSIVE (LAPTOP - BAND) ========================= //
	@include mx-media-query(laptop) {
		.tlg-masonry-img {
			height: $tlg-masonry-img-height-laptop;
		}
	}

	// =============================================================== //
	// ========== RESPONSIVE (BAND - 100%) ========================= //
	@include mx-media-query(band) {
		.tlg-masonry-img {
			height: $tlg-masonry-img-height-band;
		}
	}
}
