// ==================================================================
// ==================== GEN05: MASONRY ==============================
// ==================================================================

// =========================================================
// ====== VARIABLES ========================================
$tlg-masonry-item-padding:             	5px;
$tlg-masonry-img-height:          		61vw;
$tlg-masonry-img-height-phone:          29vw;
$tlg-masonry-img-height-phablet:  		30vw;
$tlg-masonry-img-height-tablet:   		20vw;
$tlg-masonry-img-height-laptop:   		15vw;
$tlg-masonry-img-height-band:     		231px;


