// ==================================================================
// ==================== GEN03: NAVIGATION ===========================
// ==================================================================
/*

@LABEL: NEEDS WORK
@ISSUE: IMPLEMENT RESPONSIVITY WITH HAMBURGER MENU ICON
@ISSUE: IMPLEMENT MODIFICATORS VERTICAL, COLLAPSED

*/

// =========================================================
// ====== GENERAL ==========================================

.tlg-c-navigation {
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	// =========================================================
	// ====== MODIFIERS ========================================

	// ===== HORIZONTAL ==================
	&.tlg-is-horizontal {
		ul {
			display: flex;
		}
	}
}
