// ========================================================================= //
// ========================= GEN08: TAB PANEL ============================== //
// ========================================================================= //

// =============================================================== //
// ========== VARIABLES ===========================================//

// ===== CONTROLS ===============================
$tlg-tab-panel-controls-wrapper-margin-bottom:            0px;

$tlg-tab-panel-control-item-brd-width:                    1px;
$tlg-tab-panel-control-item-active-brd-width:             5px;

$tlg-tab-panel-control-item-tab-height:                   40px;
$tlg-tab-panel-control-item-tab-padding:                  0px;

// ===== CONTENT ================================
$tlg-tab-panel-content-padding:                           0;
$tlg-tab-panel-content-padding-desktop:                   0;

// =============================================================== //
// ========== COLOURS ============================================//

// ===== CONTROLS ===============================
$tlg-tab-panel-controls-wrapper-bg-col:                   $tlg-base-colour-white;
$tlg-tab-panel-controls-wrapper-scrollbar-track-bg-col:   $tlg-base-background-light-colour;

$tlg-tab-panel-control-item-bg-col:                       transparent;

$tlg-tab-panel-control-item-txt-col:                      $tlg-base-link-txt-colour;
$tlg-tab-panel-control-item-txt-col-active:               $tlg-base-link-txt-colour-visited;

$tlg-tab-panel-control-item-brd-col:                      transparent;
$tlg-tab-panel-control-item-brd-col-active:               $tlg-base-link-txt-colour-visited;

