// ========================================================================= //
// ========================= GEN08: TAB PANEL ============================== //
// ========================================================================= //


.tlg-c-tab-panel {
    max-width: 100%;

  // =============================================================== //
  // ========== CONTROLS ============================================//
    .tlg-b-controls {
        overflow-x: auto;

        &:focus {
            outline: none;
        }
    }

    .tlg-control-list {
        display: inline-flex;
        justify-content: center;
        list-style-type: none;
        margin-top: 0;
        margin-bottom: $tlg-tab-panel-controls-wrapper-margin-bottom;
        padding-left: 0;
        min-width: 100%;
        white-space: nowrap;
    }

    .tlg-b-control-item {
        display: inline-block;
        margin: 0;
        padding: 0 10px;
        font-weight: bold;

        .tlg-tab-switch {
            .tlg-button {
                display: inline-flex;
                position: relative;
                align-items: center;
                height: $tlg-tab-panel-control-item-tab-height;
                padding: $tlg-tab-panel-control-item-tab-padding;
                border: none;
                border-radius: $tlg-base-border-radius;
                background: $tlg-tab-panel-control-item-bg-col;
                color: $tlg-tab-panel-control-item-txt-col;
                font-size: $tlg-small-font-size;
                outline: none;

                &:focus {
                    box-shadow: none !important;
                }

                &:visited {
                    color: $tlg-tab-panel-control-item-txt-col;
                }
            }
        }

        &.tlg-is-active {
            border-bottom: $tlg-tab-panel-control-item-active-brd-width solid $tlg-tab-panel-control-item-brd-col-active;

            .tlg-tab-switch {
                .tlg-button {
                    color: $tlg-tab-panel-control-item-txt-col-active;
                    text-decoration: none;
                    cursor: default;
                }
            }
        }
    }

  // =============================================================== //
  // ========== CONTENT ============================================ //
    .tlg-b-content-tabs {
        .tlg-tab-content {
            display: none;
            padding: $tlg-tab-panel-content-padding;

            &.tlg-is-active {
                display: block;
            }
        }
    }

  // =============================================================== //
  // ====== MODIFIERS ============================================== //
    &.tlg-is-fixed {
        .tlg-b-controls {
            position: sticky;
            top: 0;
            background-color: $tlg-tab-panel-controls-wrapper-bg-col;
        }
    }
}
