// ========================================================================= //
// ========================= BASE ========================================== //
// ========================================================================= //

// =============================================================== //
// ========== GENERAL ============================================ //
html,
body {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	outline: none;
}

body {
	min-width: $tlg-base-content-min-with;
	width: auto;
	min-height: 100vh;
	background-color: $tlg-base-background-light-colour;
}

.tlg-main {
	margin-top: $tlg-base-main-margin-y;
	margin-bottom: $tlg-base-main-margin-y;
}

.tlg-content-wrapper {
	max-width: $tlg-break-band;
	margin-right: auto;
	margin-left: auto;
	padding: 0 $tlg-base-content-padding-x;
	width: 100%; // TODO temp fix, consider layout options
}

// =============================================================== //
// ========== BRANDING =========================================== //
.tlg-site-logo-img {
	width: $tlg-base-main-logo-max-width;
	max-width: 100%;
}

// =============================================================== //
// ========== FORMS ============================================== //
input {
	height: $tlg-base-input-height;
	padding: $tlg-base-input-padding-y $tlg-base-input-padding-x;
	border: 1px solid $tlg-base-input-brd-colour;
	border-radius: $tlg-base-border-radius;
	transition: border-color 0.3s ease-out;

	&:focus {
		border-color: $tlg-base-colour-brand;
		border-width: 2px;
	}
}

// =============================================================== //
// ========== RESPONSIVE (TABLET - 100%) ========================= //
@include mx-media-query(tablet) {
	.tlg-content-wrapper {
		padding: 0 $tlg-base-content-padding-x-desktop;
	}

	.tlg-main {
		margin-top: $tlg-base-main-margin-y-desktop;
		margin-bottom: $tlg-base-main-margin-y-desktop;
	}
}
