// ==================================================================
// THEME COLOUR PALETTE
// ==================================================================

/*

@LABEL: NEEDS WORK
@ISSUE: WORK ON THEME COLOUR PALETTE
@ISSUE: WORK ON LINK COLOUR

*/

// =============================================================== //
// ========== GRAY COLOUR PALETTE ================================ //
$tlg-colour-gray-scale-00: 		#ffffff; // white			rgb(250,250,250)
$tlg-colour-gray-scale-01: 		#F5F5F5; // whitesmoke		rgb(245,245,245)
$tlg-colour-gray-scale-02: 		#DCDCDC; // gainsboro		rgb(220,220,220)
$tlg-colour-gray-scale-03: 		#D3D3D3; // lightgray		rgb(211,211,211)
$tlg-colour-gray-scale-04: 		#C0C0C0; // silver			rgb(192,192,192)
$tlg-colour-gray-scale-05: 		#A9A9A9; // darkgray		rgb(169,169,169)
$tlg-colour-gray-scale-06: 		#808080; // gray			rgb(128,128,128)
$tlg-colour-gray-scale-07: 		#696969; // dimgray			rgb(105,105,105)
$tlg-colour-gray-scale-08: 		#778899; // lightslategray	rgb(119,136,153)
$tlg-colour-gray-scale-09: 		#708090; // slategray		rgb(112,128,144)
$tlg-colour-gray-scale-10: 		#2F4F4F; // darkslategray	rgb(47,79,79)
$tlg-colour-gray-scale-11: 		#000000; // black			rgb(0,0,0)

// =============================================================== //
// ========== SOPHI COLOUR PALETTE =============================== //
$tlg-colour-sophi-01:			#5D5C61;
$tlg-colour-sophi-02:			#938e94;
$tlg-colour-sophi-03:			#7395AE;
$tlg-colour-sophi-04:			#557A95;
$tlg-colour-sophi-05:			#B1A296;

// =============================================================== //
// ========== CONTRAST COLOUR PALETTE ============================ //
$tlg-colour-contrast-01:		#618930;
$tlg-colour-contrast-02:		#87c232;
$tlg-colour-contrast-03:		#222629; //#20232a
$tlg-colour-contrast-04:		#474a4f;
$tlg-colour-contrast-05:		#6a6e71;

// =============================================================== //
// ========== ALERT COLOUR PALETTE =============================== //
$tlg-colour-red-01:				#eb183a;
$tlg-colour-red-02:				#bc1931;
$tlg-colour-red-03:				#8c1928;
$tlg-colour-red-04:				#5d1a1e;
$tlg-colour-red-05:				#2d1a15;

// =============================================================== //
// ========== IMPORTANT COLOUR PALETTE =========================== //
$tlg-colour-orange-01:			#e37222;
$tlg-colour-orange-02:			#cc661e;
$tlg-colour-orange-03:			#b55b1b;
$tlg-colour-orange-04:			#9e4f17;
$tlg-colour-orange-05:			#884414;
$tlg-colour-orange-06:			#713911;
$tlg-colour-orange-07:			#5a2d0d;
$tlg-colour-orange-08:			#44220a;
$tlg-colour-orange-09:			#2d1606;
$tlg-colour-orange-10:			#160b03;

// =============================================================== //
// ========== OLIVE COLOUR PALETTE =============================== //
$tlg-colour-olive:				#3d9970;

// ===== LIGHTER ==========================
$tlg-colour-olive-light-01:	lighten($tlg-colour-olive,10%);
$tlg-colour-olive-light-02:	lighten($tlg-colour-olive,20%);
$tlg-colour-olive-light-03:	lighten($tlg-colour-olive,30%);
$tlg-colour-olive-light-04:	lighten($tlg-colour-olive,40%);
$tlg-colour-olive-light-05:	lighten($tlg-colour-olive,50%);

// ===== LIGHTER ==========================
$tlg-colour-olive-dark-01:	darken($tlg-colour-olive,10%);
$tlg-colour-olive-dark-02:	darken($tlg-colour-olive,20%);
$tlg-colour-olive-dark-03:	darken($tlg-colour-olive,30%);
$tlg-colour-olive-dark-04:	darken($tlg-colour-olive,40%);
$tlg-colour-olive-dark-05:	darken($tlg-colour-olive,50%);

// =============================================================== //
// ========== THEME COLOUR PALETTE =============================== //
$tlg-base-colour-light: 		$tlg-colour-gray-scale-01;
$tlg-base-colour-dark:			$tlg-colour-contrast-03;
$tlg-base-colour-brand-light:	$tlg-colour-sophi-03;
$tlg-base-colour-brand: 		$tlg-colour-sophi-04;
$tlg-base-colour-link:			$tlg-colour-olive;
$tlg-base-colour-white: 		$tlg-colour-gray-scale-00;
$tlg-base-colour-gray: 			$tlg-colour-gray-scale-02;
$tlg-base-colour-brown: 		$tlg-colour-sophi-01;
$tlg-base-colour-black: 		$tlg-colour-gray-scale-11;
$tlg-base-colour-alert: 		$tlg-colour-red-01;
$tlg-base-colour-alert-bg: 		rgba($tlg-base-colour-alert, .7);

// =============================================================== //
// ========== DARKER COLOUR PALETTE ============================== //

// =============================================================== //
// ========== LIGHTER LINK COLOUR PALETTE ======================== //


// =============================================================== //
// ========== BASE COLOURS ======================================= //
$tlg-base-background-light-colour: 	$tlg-base-colour-light;
$tlg-base-text-colour:             	$tlg-base-colour-dark;

// =============================================================== //
// ========== TYPOGRAPHY ========================================= //
$tlg-base-link-txt-colour:			$tlg-base-colour-link;
$tlg-base-link-txt-colour-visited:	$tlg-colour-olive-dark-01;
$tlg-base-link-txt-colour-focus:	$tlg-colour-olive-dark-05 !default;

$tlg-base-link-bg-colour-focus:		$tlg-colour-olive-light-04;

// =============================================================== //
// ========== TABLE ============================================== //
$tlg-base-table-border-colour:		$tlg-base-colour-gray;

// =============================================================== //
// ========== INPUT ============================================== //
$tlg-base-input-brd-colour:		   $tlg-base-colour-dark;
$tlg-base-input-bg-colour:			$tlg-base-background-light-colour;
