// ========================================================================= //
// ========================= INPUT COMPONENTS ============================== //
// ========================================================================= //

%tlg-c-input {
	width: 100%;

	* {
		background-color: $tlg-base-input-bg-colour;
	}

	// =========================================================
	// ====== INPUT FIELD ======================================
	> .tlg-b-form-field {
		display: flex;
		position: relative;
		flex: 1 1 100%;

		.tlg-input {
			width: 100%;
		}
	}

	// ===== ANIMATED INPUT ==============
	&.tlg-is-animated {
		.tlg-b-form-field {
			flex-direction: column;

			.tlg-c-label {
				align-self: flex-start;
				margin: 0 0 0 5px;
				padding: 0 $tlg-base-input-padding-x;
				cursor: text;
				transition: 0.3s ease-out;
				transform: translateY(26px);
				transform-origin: left;
			}
		}

		&.tlg-is-focused,
		&.tlg-has-value {
			.tlg-b-form-field {
				.tlg-c-label {
					cursor: default;
					transform: translateY(8px) scale(0.8);
				}
			}
		}
	}

	// ===== ERROR INPUT =================
	&.tlg-is-error {
		&:not(.tlg-is-focused) {
			> .tlg-b-form-field {
				.tlg-input {
					border-color: $tlg-base-colour-alert;
					border-width: 2px;
				}
			}
		}
	}
}
