// ========================================================================= //
// ========================= TYPOGRAPHY ==================================== //
// ========================================================================= //

// =============================================================== //
// ========== GENERAL ============================================ //
body {
	font-family: $tlg-main-font;
	font-size: $tlg-base-font-size;
	font-weight: $tlg-base-font-weight;
	line-height: $tlg-base-line-height;
	color: $tlg-base-text-colour;
}

// =============================================================== //
// ========== HEADINGS =========================================== //
h1,
h2,
h3,
h4,
h5,
h6 {
	color: $tlg-base-colour-brand;
	font-family: $tlg-main-font;
	font-weight: $tlg-base-font-weight;
	line-height: $tlg-base-line-height;
	margin: 0 0 0.6em 0;
}

h1 {
	font-size: $tlg-base-font-size-h1;

	& + p {
		margin: -0.6em 0 0.6em 0;
		color: $tlg-base-colour-brand;
		font-family: $tlg-main-font;
		font-size: $tlg-base-font-size-h2;
	}
}

h2 {
	font-size: $tlg-base-font-size-h2;
}

h3 {
	font-size: $tlg-base-font-size-h3;
}

h4 {
	font-size: $tlg-base-font-size-h4;
	font-weight: $tlg-bold-font-weight;
}

h5 {
	font-size: $tlg-base-font-size-h5;
	font-weight: $tlg-bold-font-weight;
}

h6 {
	font-size: $tlg-base-font-size-h6;
	font-weight: $tlg-bold-font-weight;
}

// =============================================================== //
// ========== BLOCKS ============================================= //
section {
	margin: 0 0 $tlg-base-block-margin 0;
}

p {
	margin: 0 0 $tlg-base-block-margin 0;

	& + p {
		margin-top: -1 * ($tlg-base-block-margin / 3);
	}
}

// blockquote {
//   position: relative;
//   margin: 0 $global-blockquote-margin-x;
//   font-size: $global-font-size-default;
//   font-weight: $global-font-weight-light;
//   font-style: normal;

//   &::before {
//     position: absolute;
//     top: 0;
//     left: -1 * $global-blockquote-margin-x;
//     content: '\201C';
//     display: inline-block;
//     width: $global-blockquote-quote-width;
//     font-weight: $global-font-weight-bold;
//   }

//   &::after {
//     position: absolute;
//     bottom: 0;
//     right: $global-blockquote-margin-x;
//     content: '\201E';
//     display: inline-block;
//     width: $global-blockquote-quote-width;
//     font-weight: $global-font-weight-bold;
//   }
// }

// ============================================================== //
// /////////////////////////// INLINE /////////////////////////// //
// ============================================================== //

a {
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-weight: $tlg-bold-font-weight;
	color: $tlg-base-link-txt-colour;

	&:hover,
	&:active {
		text-decoration: underline;
	}

	&:focus {
		color: $tlg-base-link-txt-colour-focus;
		background: $tlg-base-link-bg-colour-focus;
		outline: none;
		text-decoration: underline;
	}

	&:visited {
		color: $tlg-base-link-txt-colour-visited;
		text-decoration: underline;
	}
}

// span {}

// strong,
// b {
//   font-weight: $global-font-weight-bold;
// }

// em,
// i {
//   font-style: italic;
// }

// sup {}

// sub {}

// cite {}

// ============================================================== //
// /////////////////////////// LISTS //////////////////////////// //
// ============================================================== //

// ul,
// ol,
// dl {
//   li {}
// }

// li {

//   >ul,
//   >ol {}
// }

// // lists directly following a paragraph should be closer to the paragraph
// p {

//   +ul,
//   +ol,
//   +dl {}
// }

// dl {
//   @extend %elements-margin;

//   dt,
//   dd {}

//   dt {
//     margin-top: $tlg-base-block-margin-desktop;
//     font-weight: $global-font-weight-bold;
//     color: $global-dt-txt-col;

//     &:first-child {
//       margin-top: 0;
//     }
//   }

//   dd {
//     margin-left: $global-des-list-data-margin-left;

//     &::before {
//       content: '\2013'; // [en dash]
//       display: inline-block;
//       width: 17px;
//       margin-left: -17px;
//     }
//   }
// }

// ============================================================== //
// /////////////////////////// TABLES /////////////////////////// //
// ============================================================== //

table {
	border-collapse: collapse;

	td,
	th {
		border: $tlg-base-table-border-size solid
			$tlg-base-table-border-colour;
		padding: 10px 8px;
		text-align: left;
	}

	th {
	}

	td {
	}

	//======================== HEAD ========================//
	//======================================================//
	thead {
		th {
		}
	}

	//======================== BODY ========================//
	//======================================================//
	tbody {
		th {
		}

		td {
		}
	}

	//======================= FOOTER =======================//
	//======================================================//
	tfoot {
		th {
		}

		td {
		}
	}
}

// =============================================================== //
// ========== RESPONSIVE (TABLET - 100%) ========================= //
@include mx-media-query(tablet) {
	body {
		font-size: $tlg-base-font-size-desktop;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0 0 0.8em 0;
	}

	h1 {
		font-size: $tlg-base-font-size-h1-desktop;

		& + p {
			margin: -0.8em 0 0.8em 0;
			font-size: $tlg-base-font-size-h2-desktop;
		}
	}

	h2 {
		font-size: $tlg-base-font-size-h2-desktop;
	}

	h3 {
		font-size: $tlg-base-font-size-h3-desktop;
	}

	h4 {
		font-size: $tlg-base-font-size-h4-desktop;
	}

	h5 {
		font-size: $tlg-base-font-size-h5-desktop;
	}

	h6 {
		font-size: $tlg-base-font-size-h6-desktop;
	}

	section {
		margin: 0 0 $tlg-base-block-margin-desktop 0;
	}

	p {
		margin: 0 0 $tlg-base-block-margin-desktop 0;

		& + p {
			margin-top: -1 * ($tlg-base-block-margin-desktop / 2);
		}
	}
}
