<!-- ====================================================================== -->
<!-- ======================= FRM01: HYPER BUTTON ========================== -->
<!-- ====================================================================== -->

<!-- ======================================================= -->
<!-- ======== KNOWN ISSUES ================================= -->
<!--

@LABEL: NEEDS WORK
@ISSUE: INTERNAL BUTTON
@TEST: TEXT ACCESSIBILITY

-->

<!-- ======================================================= -->
<!-- ======== HTML ========================================= -->
<template>
	<button
		v-if="this.mode === 'button'"
		class="tlg-c-hyper-button tlg-is-button"
		:class="classButtonObject"
		:disabled="disabled"
		:active="active"
		:title="title"
		:aria-label="label"
		:id="id"
		@click="buttonClickEmit"
	>
		<span class="tlg-text"><slot></slot></span>
	</button>
	<a
		v-else-if="this.mode === 'anchor'"
		class="tlg-c-hyper-button tlg-is-anchor"
		:class="classAnchorObject"
		:disabled="disabled"
		:active="active"
		:title="title"
		:aria-label="label"
		:href="link"
		:target="linkNewTab ? '_blank' : null"
		@click="buttonClickEmit"
	>
		<span class="tlg-text"><slot></slot></span>
	</a>
</template>

<!-- ======================================================= -->
<!-- ======== JS =========================================== -->
<script>
	// ===== OPTIONS ================================
	const TYPE_PROP_OPTIONS = ['primary', 'secondary','internal'];
	const MODE_PROP_OPTIONS = ['button', 'anchor'];

	// ===== EXPORT =================================
	export default {
		name: 'Frm01HyperButton',
		props: {
			type: {
				default: 'primary',
				type: String,
				validator: value => {
					return TYPE_PROP_OPTIONS.includes(value);
				}
			},
			mode: {
				default: 'button',
				type: String,
				validator: value => {
					return MODE_PROP_OPTIONS.includes(value);
				}
			},
			disabled: {
				default: false,
				type: Boolean
			},
			active: {
				default: false,
				type: Boolean
			},
			title: {
				default: null,
				type: String
			},
			label: {
				default: null,
				type: String
			},
			link: {
				default: '#',
				type: String
			},
			linkNewTab: {
				default: false,
				type: Boolean
			},
			id: {
				default: null,
				type: String
			}
		},
		computed: {
			classButtonObject() {
				return {
					'tlg-is-disabled': this.disabled,
					[`tlg-is-${this.type}`]: this.type,
					'tlg-is-active': this.active
				};
			},
			classAnchorObject() {
				return {
					'tlg-is-active': this.active
				};
			}
		},
		methods: {
			buttonClickEmit() {
				this.$emit('buttonClickEvent');
			}
		}
	};
</script>
