<!-- ====================================================================== -->
<!-- ======================= FRM03: PASSWORD ============================== -->
<!-- ====================================================================== -->

<!-- ======================================================= -->
<!-- ======== KNOWN ISSUES ================================= -->
<!--

@LABEL: STABLE

-->

<!-- ======================================================= -->
<!-- ======== HTML ========================================= -->
<template>
	<div class="tlg-component tlg-c-password" :class="classObject">
		<div class="tlg-b-form-field">
			<frm01-label :labelFor="id" :labelCaption="labelCaption" />
			<input
				:type="inputType"
				class="tlg-input"
				:name="name"
				:disabled="disabled"
				:autocomplete="autocomplete"
				:value="value"
				:placeholder="placeholder"
				:id="id"
				@keyup="passwordKeyUpEmit($event.target.value)"
				@change="passwordChangeEmit($event.target.value)"
				@input="passwordInputEmit($event.target.value)"
				@focus="passwordFocusEmit($event.target.value)"
				@blur="passwordBlurEmit($event.target.value)"
			/>
			<frm06-hyper-button
				mode="button"
				type="internal"
				class="tlg-mask-toggle"
				@buttonClickEvent="passwordMaskToggle"
				v-if="maskToggle"
			>
				{{ maskToggleCaption }}
			</frm06-hyper-button>
		</div>
	</div>
</template>

<!-- ======================================================= -->
<!-- ======== JS =========================================== -->
<script>
	// ===== OPTIONS ================================
	const AUTOCOMPLETE_OPTIONS = ['off', 'current-password', 'new-password'];

	// ===== IMPORT =================================
	import Frm01Label from '~/components/form/frm01-label';
	import Frm06HyperButton from '~/components/form/frm06-hyper-button';

	export default {
		components: {
			Frm01Label,
			Frm06HyperButton
		},
		props: {
			name: {
				default: 'password',
				type: String
			},
			labelCaption: {
				type: String,
				required: true
			},
			required: {
				default: false,
				type: Boolean
			},
			readonly: {
				default: false,
				type: Boolean
			},
			disabled: {
				default: false,
				type: Boolean
			},
			error: {
				default: false,
				type: Boolean
			},
			value: {
				default: null,
				type: String
			},
			placeholder: {
				default: '',
				type: String
			},
			autocomplete: {
				default: 'current-password',
				type: String,
				validator: value => {
					return AUTOCOMPLETE_OPTIONS.includes(value);
				}
			},
			masked: {
				default: true,
				type: Boolean
			},
			maskToggle: {
				default: true,
				type: Boolean
			},
			maskToggleCaption: {
				default: null,
				type: String
			},
			animated: {
				default: false,
				type: Boolean
			},
			id: {
				default: null,
				type: String
			}
		},
		data() {
			return {
				maskedData: this.masked,
				hasFocus: false
			};
		},
		computed: {
			classObject() {
				return {
					'tlg-is-required': this.required,
					'tlg-is-disabled': this.disabled,
					'tlg-is-error': this.error,
					'tlg-is-readonly': this.readonly,
					'tlg-has-mask-toggle': this.maskToggle,
					'tlg-is-masked': this.maskedData,
					'tlg-is-unmasked': !this.maskedData,
					'tlg-is-focused': this.hasFocus,
					'tlg-has-value': this.value,
					'tlg-is-animated': this.animated,
				};
			},
			inputType() {
				return this.maskedData ? 'password' : 'text';
			}
		},
		methods: {
			passwordKeyUpEmit(value) {
				this.$emit('passwordKeyUpEvent', value);
			},
			passwordChangeEmit(value) {
				this.$emit('passwordChangeEvent', value);
			},
			passwordInputEmit(value) {
				this.$emit('passwordInputEvent', value);
				this.$emit('input', value); // event for v-model
			},
			passwordFocusEmit(value) {
				this.$emit('passwordFocusEvent', value);
				this.hasFocus = true;
			},
			passwordBlurEmit(value) {
				this.$emit('passwordBlurEvent', value);
				this.hasFocus = false;
			},
			passwordMaskToggle() {
				this.maskedData = !this.maskedData;
				this.$emit('passwordMaskToggleEvent', this.maskedData);
			}
		}
	};
</script>
