<!-- ====================================================================== -->
<!-- ======================= fRM02: INPUT FIELD =========================== -->
<!-- ====================================================================== -->

<!--

@LABEL: STABLE

-->

<!-- ======================================================= -->
<!-- ======== HTML ========================================= -->
<template>
	<div class="tlg-component tlg-c-input-field" :class="classObject">
		<div class="tlg-b-form-field">
			<frm01-label :labelFor="id" :labelCaption="labelCaption" />
			<input
				type="text"
				class="tlg-input"
				:name="name"
				:readonly="readonly"
				:disabled="disabled"
				:autocomplete="autocomplete"
				:value="value"
				:placeholder="placeholder"
				:id="id"
				@click="inputFieldClickEmit($event.target.value)"
				@keyup="inputFieldKeyUpEmit($event.target.value)"
				@input="inputFieldInputEmit($event.target.value)"
				@change="inputFieldChangeEmit($event.target.value)"
				@focus="inputFieldFocusEmit($event.target.value)"
				@blur="inputFieldBlurEmit($event.target.value)"
			/>
		</div>
	</div>
</template>

<!-- ======================================================= -->
<!-- ======== JS =========================================== -->
<script>
	// ===== IMPORT =================================
	import Frm01Label from '@/components/general/form/frm01-label';

	//====== EXPORT =================================
	export default {
		name: 'Frm02Inputfield',
		components: {
			Frm01Label
		},
		props: {
			name: {
				type: String,
				required: true
			},
			labelCaption: {
				type: String,
				required: true
			},
			required: {
				default: false,
				type: Boolean
			},
			readonly: {
				default: false,
				type: Boolean
			},
			disabled: {
				default: false,
				type: Boolean
			},
			error: {
				default: false,
				type: Boolean
			},
			autocomplete: {
				default: null, // [on|off|name|email|username|...]
				type: String
			},
			value: {
				default: null,
				type: String
			},
			placeholder: {
				default: null,
				type: String
			},
			animated: {
				default: false,
				type: Boolean
			},
			id: {
				default: null,
				type: String
			}
		},
		data() {
			return {
				hasFocus: false
			};
		},
		computed: {
			classObject() {
				return {
					'tlg-is-required': this.required,
					'tlg-is-readonly': this.readonly,
					'tlg-is-disabled': this.disabled,
					'tlg-is-error': this.error,
					'tlg-is-focused': this.hasFocus,
					'tlg-has-value': this.value,
					'tlg-is-animated': this.animated,
				};
			}
		},
		methods: {
			inputFieldClickEmit(value) {
				this.$emit('inputFieldClickEvent', value);
			},
			inputFieldKeyUpEmit(value) {
				this.$emit('inputFieldKeyUpEvent', value);
			},
			inputFieldChangeEmit(value) {
				this.$emit('inputFieldChangeEvent', value);
			},
			inputFieldInputEmit(value) {
				this.$emit('inputFieldInputEvent', value);
				this.$emit('input', value); // event for v-model
			},
			inputFieldFocusEmit(value) {
				this.$emit('inputFieldFocusEvent', value);
				this.hasFocus = true;
			},
			inputFieldBlurEmit(value) {
				this.$emit('inputFieldBlurEvent', value);
				this.hasFocus = false;
			}
		}
	};
</script>
