<!-- ====================================================================== -->
<!-- ======================= FRM01: LABEL ================================= -->
<!-- ====================================================================== -->

<!--

@LABEL: STABLE

-->

<!-- ======================================================= -->
<!-- ======== HTML ========================================= -->
<template>
    <label
        class="tlg-component tlg-c-label"
        :for="labelFor"
    >
        {{ labelCaption }}
    </label>
</template>

<!-- ======================================================= -->
<!-- ======== JS =========================================== -->
<script type="application/javascript">

    //====== EXPORT =================================
    export default {
        name: 'Frm01Label',
        props: {
            'labelFor': {
                type: String,
                required: true
            },
            'labelCaption': {
                type: String,
                required: true
            }
        }
    }
</script>
