// ========================================================================= //
// ========================= MEDIA QUERY =================================== //
// ========================================================================= //

// Creates query for specified width and boundary min or max width
@mixin _mx-media($breakpoint, $minmax, $use-media: media-print-auto) {
    $inclusion: 0;
    @if $minmax == max {
        $inclusion: $tlg-breakpoint-inclusion;
    }

    $media-composition: $use-media;
    // $use-media values:
    // media-print-auto          -- default value, determine automatically which media will be used
    // media-print-forced        -- force rules to be used also for print
    // media-screen-only-forced  -- force rules to be used only for screen
    // media-all                 -- do not specify media type

    // if media-print-auto
    //    - add as print rule for min-width rules
    //    - restrict for screen for max-width rules
    @if $media-composition == media-print-auto {
        @if $minmax == min {
            $media-composition: media-print-forced;
        }
        @if $minmax == max {
            $media-composition: media-screen-only-forced;
        }
    }

    @if $media-composition == media-print-forced {
        // set as print rule
        @media print,
        (#{$minmax}-width: $breakpoint - $inclusion) {
            @content;
        }
    } @else if $media-composition == media-screen-only-forced {
        // use only for screens
        @media screen and (#{$minmax}-width: $breakpoint - $inclusion) {
            @content;
        }
    } @else {
        // do not specify media
        @media (#{$minmax}-width: $breakpoint - $inclusion) {
            @content;
        }
    }
}

@mixin mx-media-query($breakpoint, $minmax: min, $use-media: media-print-auto) {
    @if type-of($breakpoint) == 'string' {
        $breakpoint: fn-get-breakpoint-value($breakpoint);
    }

    @include _mx-media($breakpoint, $minmax, $use-media) {
        @content;
    }
}

// ========================================================================= //
// ========================= BREAKPOINTS INTERVAL ========================== //
// ========================================================================= //

// creates query for specified interval (min-width - max-width)

@mixin _mx-media-range($breakpoint-min, $breakpoint-max, $use-media: media-screen-only-forced) {
    $inclusion: $tlg-breakpoint-inclusion;

    $media-composition: $use-media;
    // $use-media values:
    // media-print-auto          -- default value, determine automatically which media will be used
    // media-print-forced        -- force rules to be used also for print
    // media-screen-only-forced  -- force rules to be used only for screen
    // media-all                 -- do not specify media type
    @if $media-composition == media-print-forced {
        // set as print rule
        @media print,
        (min-width: $breakpoint-min) and (max-width: $breakpoint-max - $inclusion) {
            @content;
        }
    } @else if $media-composition == media-screen-only-forced {
        // use only for screens
        @media screen and (min-width: $breakpoint-min) and (max-width: $breakpoint-max - $inclusion) {
            @content;
        }
    } @else {
        // do not specify media
        @media (min-width: $breakpoint-min) and (max-width: $breakpoint-max - $inclusion) {
            @content;
        }
    }
}

//**
//* Creates media query interval for specified device type or integer value
//*
//* @param $breakpoint-min, $breakpoint-max
//*      String or integer for breakpoint.
//*      Integer will be used inside media query directly.
//*      String reefers to certain int value in pixel units.
//*
//*      String can be one of following values: phone, phablet, tablet, laptop
//* @param $use-media
//*      See mx-media-range for usage
//*
//* @example
//*  @include mx-media-query(414px,768px);
//*  @include mx-media-query(phone,tablet);
//*/

@mixin mx-media-query-range($breakpoint-min, $breakpoint-max, $use-media: media-print-auto) {
    @if type-of($breakpoint-min) == 'string' {
        $breakpoint-min: fn-get-breakpoint-value($breakpoint-min);
    }

    @if type-of($breakpoint-max) == 'string' {
        $breakpoint-max: fn-get-breakpoint-value($breakpoint-max);
    }

    @include _mx-media-range($breakpoint-min, $breakpoint-max, $use-media) {
        @content;
    }
}