<!-- ====================================================================== -->
<!-- ======================= PRJ02: THE FOOTER ============================ -->
<!-- ====================================================================== -->

<!-- ======================================================= -->
<!-- ======== KNOWN ISSUES ================================= -->
<!--

@LABEL: NEEDS WORK
@ISSUE: IMPLEMENT ACCESSIBILITY
@ISSUE: IMPLEMENT BACK TO TOP BUTTON
@ISSUE: IMPLEMENT SOCIAL ICONS ON HOVER
@ISSUE: IMPLEMENT TOOL CHAIN ON HOVER + LINK TO DOCS

-->

<!-- ======================================================= -->
<!-- ======== HTML ========================================= -->
<template>
	<footer class="tlg-component tlg-c-the-footer">
		<div class="tlg-the-footer-content">
			<gen01-heading class="tlg-footer-heading" h3="Reach out" />
			<gen03-navigation
				:menuRoutes="contactList"
				label="Footer social links"
				orientation="horizontal"
				class="tlg-footer-social-links"
			/>
			<p class="tlg-footer-acknowledgment">
				Built with
				<span class="tlg-footer-acknowledgment-icon tlg-footer-vue"
					><span class="tlg-text">Vue.js</span></span
				>
				and
				<span class="tlg-footer-acknowledgment-icon tlg-footer-nuxt"
					><span class="tlg-text">Nuxt.js</span></span>
			</p>
			<p class="tlg-footer-copyright">&copy;Jozef Balint 2019, version Alpha</p>

			<!-- TODO scroll to top component, animate -->
			<!-- <a href="#" id="scrollTop" class="tlg-scroll-to-top">
				<span class="tlg-hidden">Back to the top</span>
			</a> -->
		</div>
	</footer>
</template>

<!-- ======================================================= -->
<!-- ======== JS =========================================== -->
<script>
	// ===== IMPORT =================================
	import Gen01Heading from '~/components/general/gen01-heading';
	import Gen03Navigation from '~/components/general/gen03-navigation';
	import Frm01HyperButton from '~/components/form/frm06-hyper-button';

	// ===== EXPORT =================================
	export default {
		components: {
			Gen01Heading,
			Gen03Navigation,
			Frm01HyperButton
		},
		data() {
			return {
				contactList: [
					{
						id: 'tlg-footer-email',
						hash: 'mailto:jozef.balint@gmail.com',
						text: 'Email me.'
					},
					{
						id: 'tlg-footer-linkedin',
						hash: 'https://www.linkedin.com/in/jozefbalint/',
						text: 'Look me up on LinkedIn.'
					},
					{
						id: 'tlg-footer-flickr',
						hash: 'https://www.flickr.com/photos/p_strom/',
						text: 'Check out my Flickr.'
					}
				]
			};
		},
	};
</script>
