<!-- ====================================================================== -->
<!-- ======================= PRJ01: IMAGE SECTION ========================= -->
<!-- ====================================================================== -->

<!-- ======================================================= -->
<!-- ======== KNOWN ISSUES ================================= -->
<!--

@LABEL: NEEDS WORK
@ISSUE: IMPLEMENT SRCSET FOR 2X IMAGES
@ISSUE: IMPLEMENT ACCESSIBILITY

-->

<!-- ======================================================= -->
<!-- ======== HTML ========================================= -->
<template>
	<section class="tlg-component tlg-c-image-section">
		<gen01-heading class="tlg-image-section-title" :h2="this.title" />

		<ul class="tlg-image-section-list">
			<li
				v-for="(photo, index) in photoStreamTypeArr"
				:key="index"
				class="tlg-image-section-item"
			>
				<nuxt-link
					:to="{name: 'photoStreamType-photoStreamView', params: { photoStreamType:photo.photoStreamType,photoStreamView: photo.photoStreamView}}"
					class="tlg-image-section-item-link"
				>
					<gen01-heading
						class="tlg-image-section-item-title"
						:h3="photo.title"
					/>
					<img
						class="tlg-image-section-img"
						:src="`${requiredImgPath}${photo.coverImage}.jpg`"
						:alt="alt"
					/>
				</nuxt-link>
			</li>
		</ul>
	</section>
</template>

<!-- ======================================================= -->
<!-- ======== JS =========================================== -->
<script>
	// ===== IMPORT =================================
	import Gen01Heading from '~/components/general/gen01-heading';

	// ===== EXPORT =================================
	export default {
		components: {
			Gen01Heading
		},
		props: {
			title: {
				default: null,
				type: String
			},
			alt: {
				default: null,
				type: String
			},
			photoStreamTypeArr: {
				default: null,
				type: Array
			},
			photoStreamType: {
				default: null,
				type: String
			},
			requiredImgPath: {
				default: null,
				type: String
			}
		}
	};
</script>
