<!-- ====================================================================== -->
<!-- ======================= PRJ04: SECTION ABOUT ========================= -->
<!-- ====================================================================== -->

<!-- ======================================================= -->
<!-- ======== KNOWN ISSUES ================================= -->
<!--

@LABEL: NEEDS WORK
@ISSUE: IMPLEMENT ACCESSIBILITY
@ISSUE: IMPLEMENT SCROLL DOWN ARROW AFTER CONTENT WAS LOADED

-->

<!-- ======================================================= -->
<!-- ======== HTML ========================================= -->
<template>
	<div>
		<section>
			<article>
				<header>
					<gen01-heading h2="This travel photographer"/>
				</header>


				<p>
					..is an enthusiastic photographer, traveller and lover of the great outdoors; trail
					runner and
					cross country cyclist. He enjoys exploring the world through his camera’s viewport and
					via new flavours.
					Hence he seldom denies invitations to a trip, craft beer or a cup of excellent coffee.
					Shall you enxtend
					your invitation to lunch, beware of serving anything that comes from animal production.
				</p>

				<p>
					You can find him in Prague at the moment, behind the computer, or in the company of his
					girlfriend-
					myself. He speaks Slovak, English and Hungarian.

				<p>
					Alzbeta Repakova
				</p>
				<p>
					I am not trying to prevent downloading of these images. If you like them enough to make
					a use of them for
					private purposes please do not forget to mention this web site for reference. In case of
					commercial interest,
					feel free to contact me in advance. I’m sure we’ll come to an agreement. s are licensed
					under
					<a
						href="https://creativecommons.org/"
						target="_blank"
						class="leaf-link"
					>
						<strong>Creative Commons</strong>
					</a> license.
				</p>

				<!--        Contact form-->
				<!--				<div id="leaf-modal" class="leaf-padding-bottom leaf-about-port">-->
				<!--					<div id="leaf-contact-form-holder" class="leaf-about-columns">-->
				<!--						<form action="send-email.php" method="post" id="leaf-contact-form">-->
				<!--							<div class="leaf-form-header">-->
				<!--								<h2 id="contact-header">-->
				<!--									<span>Contact Me</span>-->
				<!--								</h2>-->
				<!--								<div class="leaf-close-form">x</div>-->
				<!--							</div>-->
				<!--							<div>-->
				<!--								<p>-->
				<!--									<input type="text" name="name" id="name" placeholder="Name/Meno">-->
				<!--								</p>-->
				<!--							</div>-->
				<!--							<div>-->
				<!--								<p>-->
				<!--									<input type="email" name="email" id="email" placeholder="Email">-->
				<!--								</p>-->
				<!--							</div>-->
				<!--							<div>-->
				<!--								<p>-->
				<!--									<input type="text" name="subject" id="subject" placeholder="The Subject/Subjekt">-->
				<!--								</p>-->
				<!--							</div>-->
				<!--							<div>-->
				<!--								<p>-->
				<!--									<textarea name="message" rows="12" id="message" placeholder="Message/Správa"></textarea>-->
				<!--								</p>-->
				<!--							</div>-->
				<!--							<p id="fill_in_form">Please fill in all fields correctly.</p>-->
				<!--						</form>-->
				<!--					</div>-->
				<!--				</div>-->

				<!--				<div class="leaf-about-port">-->
				<!--					<button type="button" class="leaf-btn-pri leaf-none" id="leaf-open-form">-->
				<!--						<span>Contact Me</span>-->
				<!--					</button>-->
				<!--					<button type="submit" class="leaf-btn-pri" id="send_message">-->
				<!--						<span>Send The Message</span>-->
				<!--					</button>-->
				<!--					<div id="mail_success" class="leaf-btn-sec leaf-none">Thanks! The message is on its way.</div>-->
				<!--					<div-->
				<!--						id="mail_fail"-->
				<!--						class="leaf-btn-sec leaf-btn-ivalid leaf-none"-->
				<!--					>Oops, something went wrong. Try again.</div>-->
				<!--					<a href="jozef-balint.html" class="leaf-btn-pri" id="cv_button" target="_blank">-->
				<!--						<span>Check out my CV</span>-->
				<!--					</a>-->
				<!--				</div>-->
			</article>
		</section>
	</div>
</template>


<!-- ======================================================= -->
<!-- ======== JS =========================================== -->
<script>
	// ===== IMPORT =================================
	import Gen01Heading from '~/components/general/gen01-heading';

	// ===== EXPORT =================================
	export default {
		name: 'Prj04SectionAbout',
		components: {
			Gen01Heading
		},
		data() {
			return {
				hover: false
			};
		},
		computed: {
			classObject() {
				return {};
			}
		},
		methods: {
			/**
			 * Emit
			 *
			 */
			buttonClickEmit() {
				this.$emit('buttonClickEvent');
			}
		}
	};
</script>
