<!-- ====================================================================== -->
<!-- ======================= PRJ03: HOME BANNER =========================== -->
<!-- ====================================================================== -->

<!-- ======================================================= -->
<!-- ======== KNOWN ISSUES ================================= -->
<!--

@LABEL: NEEDS WORK
@ISSUE: IMPLEMENT ACCESSIBILITY
@ISSUE: IMPLEMENT SCROLL DOWN ARROW AFTER CONTENT WAS LOADED

-->

<!-- ======================================================= -->
<!-- ======== HTML ========================================= -->
<template>
	<header class="tlg-component tlg-c-home-banner" :class="classObject">
		<div class="tlg-content-wrapper tlg-home-banner">
			<gen01-heading
				class="tlg-home-banner-title"
				h1="This leaf gatherer"
				@mouseover.native="hover = true"
				@mouseleave.native="hover = false"
			/>
			<p class="tlg-home-banner-par">
				<span class="tlg-home-banner-leading-item">...is</span>
				<span class="tlg-home-banner-toggle-items">
				<span>web enthusiast</span>
				<span>photographer</span>
				<span>traveller</span>
			</span>
			</p>
		</div>
	</header>
</template>


<!-- ======================================================= -->
<!-- ======== JS =========================================== -->
<script>
	// ===== IMPORT =================================
	import Gen01Heading from '~/components/general/gen01-heading';

	// ===== EXPORT =================================
	export default {
		name: 'Prj03HomeBanner',
		components: {
			Gen01Heading
		},
		data() {
			return {
				hover: false
			};
		},
		computed: {
			classObject() {
				return {
					'tlg-has-title-hovered-over': this.hover
				};
			}
		},
		methods: {
			/**
			 * Emit
			 *
			 */
			buttonClickEmit() {
				this.$emit('buttonClickEvent');
			}
		}
	};
</script>
