<!-- ====================================================================== -->
<!-- ======================= GEN08: IMAGE SECTION ========================= -->
<!-- ====================================================================== -->

<!-- ======================================================= -->
<!-- ======== KNOWN ISSUES ================================= -->
<!--

@LABEL: NEEDS WORK
@ISSUE: IMPLEMENT SRCSET FOR 2X IMAGES
@ISSUE: IMPLEMENT ACCESSIBILITY

-->

<!-- ======================================================= -->
<!-- ======== HTML ========================================= -->
<template> </template>


<!-- ======================================================= -->
<!-- ======== JS =========================================== -->
<script>
	// ===== IMPORT =================================
	import Gen03Navigation from '~/components/general/gen03-navigation';

	// ===== OPTIONS ================================
	const OPTIONS = ['primary', 'secondary'];

	// ===== EXPORT =================================
	export default {
		name: Prj01ImageSection,
		props: {
			type: {
				default: 'primary',
				type: String,
				validator: value => {
					return TYPE_PROP_OPTIONS.includes(value);
				}
			}
		},
		data() {
			return {};
		},
		computed: {
			classObject() {
				return {
					'tlg-is-disabled': this.disabled,
					'tlg-is-primary': this.type === 'primary',
					'tlg-is-secondary': this.type === 'secondary',
					'tlg-is-active': this.active
				};
			}
		},
		methods: {
			/**
			 * Emit
			 *
			*/
			buttonClickEmit() {
				this.$emit('buttonClickEvent');
			}
		}
	};
</script>
