<!-- ====================================================================== -->
<!-- ======================= PHOTO STREAM PAGE ============================ -->
<!-- ====================================================================== -->

<!-- ======================================================= -->
<!-- ======== KNOWN ISSUES ================================= -->
<!--

@LABEL: NEEDS WORK
@ISSUE: IMPLEMENT ACCESSIBILITY
@ISSUE: STYLING
@ISSUE: MARKUP
@ISSUE: 2x IMG FOR LIGHTBOX
@ISSUE: LIGHTBOX STYLING IN GENERAL
@ISSUE: RETAIN SCROLL BAR WHEN ITS RENDERED
@ISSUE: IMPLEMENT PERMALINKS, PASS PROPS, NOT OBJECTS
@ISSUE: DECIDE THE FUTURE OF CLASS 'tlg-content-wrapper'


@ISSUE: FULL SIZE IMG ERROR
@ISSUE: BEFORE UPDATE

@ISSUE: TODO before any other work, complete navigation and check with before update life cycle hook,
which component is updating; photostreamview or thumbnailgallery

-->

<!-- ======================================================= -->
<!-- ======== HTML ========================================= -->
<template>
	<div id="main" class="tlg-main tlg-page-photo-stream" :class="pageClassObject">
		<gen03-navigation
			class="tlg-content-wrapper tlg-m-navigation tlg-is-photostream-nav"
			:class="navClassObject"
			:menuRoutes="menuRoutesArray"
			:expanded="expanded"
			:menuCloseButton="true"
			menuCloseButtonCaption="Menu"
			label="Home page main navigation"
			orientation="horizontal"
			@toggleNavigation="navigationToggleButtonClick"
			@listNavItemGalleryEvent="toggleGalleryNavItemsDisplay"
			@listNavItemAlbumsEvent="toggleAlbumsNavItemsDisplay"
		>
			<img
				class="tlg-site-logo-img"
				:src="logo"
				alt="This Leaf Gatherer Home"
			/>
		</gen03-navigation>

		<gen01-heading
			:h1="title"
			class="tlg-content-wrapper tlg-page-photo-stream-header"
		/>

		<gen05-masonry
			class="tlg-content-wrapper"
			:thumbs="thumbsArray"
			:photos="photosArray"
		/>

	</div>
</template>

<!-- ======================================================= -->
<!-- ======== JS =========================================== -->
<script>
	// ===== IMPORT JSON ============================
	import photoData from '~/static/data/photoStreamAdvancedData.json';
	import metaData from '~/static/data/metaData.json';

	// ===== IMPORT COMPONENTS ======================
	import Gen01Heading from '~/components/general/gen01-heading';
	import Gen03Navigation from '~/components/general/gen03-navigation';
	import Gen05Masonry from '~/components/general/gen05-masonry';

	// ===== EXPORT ================================
	export default {
		name: 'PhotoStreamView',
		components: {
			Gen01Heading,
			Gen03Navigation,
			Gen05Masonry
		},
		head() {
			return {
				titleTemplate: `%s | ${this.title}`,
				meta: [
					{ hid: 'description', name: 'description', content: this.getMetaDescr },
					{ hid: 'keywords', name: 'keywords', content: this.getMetaKeywords }
				]
			};
		},
		props: {},
		data() {
			return {
				menuRoutesArray: [
					{
						id: 'home-page',
						path: '/',
						text: 'Home',
						img: true
					},
					{
						id: 'gallery-main',
						subnavigation: true,
						text: 'Gallery',
						menuSubRoutes: [
							{
								id: 'gallery-autumn',
								path: '/gallery/autumn',
								text: 'Autumn'
							},
							{
								id: 'gallery-landscape',
								path: '/gallery/landscape',
								text: 'Landscape'
							},
							{
								id: 'gallery-autumn',
								path: '/gallery/autumn',
								text: 'Autumn'
							},
							{
								id: 'gallery-landscape',
								path: '/gallery/landscape',
								text: 'Landscape'
							}
						]
					},
					{
						id: 'albums-main',
						subnavigation: true,
						text: 'Albums',
						menuSubRoutes: [
							{
								id: 'albums-iceland',
								path: '/albums/iceland',
								text: 'Iceland'
							},
							{
								id: 'albums-capeverde',
								path: '/albums/capeverde',
								text: 'Landscape'
							}
						]
					},
					{
						id: 'index-section-about',
						path: '/#tlg-about',
						text: 'About'
					},
					{
						id: 'blog-page',
						path: '/blog',
						text: 'Blog'
					}
				],
				logo: null,
				expanded: false,
				window: {
					width: 0,
					height: 0
				},
				loading: false,
				photoData: photoData,
				metaData: metaData,
				dataPhotoStreamType: null,
				dataPhotoStreamView: null,
				galleryItemsDisplayed: false,
				albumsItemsDisplayed: false
			};
		},
		created() {
			if (process.browser) {
				window.addEventListener('resize', this.handleResize);
				this.handleResize();
			}
			this.logo = '../img/logo/thisleafgatherer-logo.svg';
		},
		mounted() {
		},
		watch: {
			//let param = this.$route.params;

			//this.photoDataect = photoData.param
		},
		beforeUpdate() {

		},
		computed: {
			/**
			 * Computed meta tag description content
			 */
			getMetaDescr() {
				let obj = this.metaData;
				let streamName = this.computedPhotoStreamView;

				return obj[streamName].description;
			},

			/**
			 * Computed meta tag keywords content
			 */
			getMetaKeywords() {
				let obj = this.metaData;
				let streamName = this.computedPhotoStreamView;

				return obj[streamName].keywords;
			},

			/**
			 * Page class object
			 */
			pageClassObject() {
				return {
					'tlg-is-loading': this.loading
				};
			},

			/**
			 * Nav class object
			 */
			navClassObject() {
				return {
					'tlg-is-nav-gallery': this.galleryItemsDisplayed,
					'tlg-is-nav-albums': this.albumsItemsDisplayed
				};
			},

			/**
			 * Current route obj
			 *
			 * @returns {Object}
			 */
			photoStreamRoute() {
				return this.$route;
			},

			/**
			 * Type of photo stream
			 *
			 * @returns {String}
			 */
			computedPhotoStreamType() {
				return (this.dataPhotoStreamType ? this.dataPhotoStreamType : this.$route.params.photoStreamType);
			},
			/**
			 * Name of photo stream
			 *
			 * @returns {String}
			 */
			computedPhotoStreamView() {
				return (this.dataPhotoStreamView ? this.dataPhotoStreamView : this.$route.params.photoStreamView);
			},

			/**
			 * Photo stream object
			 *
			 *  @return  {Object}
			 */
			photoStreamObj() {
				let data = this.photoData;
				let name = this.computedPhotoStreamView;

				return data.find(item => item.photoStreamView === name);
			},

			/**
			 * Title of photo view
			 */
			title() {
				return this.photoStreamObj.title;
			},

			/**
			 * Thumbs array
			 *
			 *  @return thumbs {Array}
			 */
			thumbsArray() {
				let thumbs = [];
				const resource = require.context(`~/assets/img/albums/iceland/full/medium/`, true, /\.jpg$/)

				resource.keys().forEach(img => (thumbs.push({
					src: this.getImgSrc(img),
					dataSrc: this.getImgSrc(img),
					dataSrcSet: this.getDataSrcSet(img, resource)
				})));

				return thumbs;
			},

			/**
			 * Photos array
			 *
			 * @return photos {Array}
			 */
			photosArray() {
				let photos = [];
				let size = this.photoSize;

				for (let i = 0; i < 86; i++) {
					photos.push(
						`${this.imgPhotoPartialPath}/full/${size}/${i + 1}.jpg`
					);
				}

				return photos;
			},

			/**
			 * Photo stream specific partial URL to images
			 *
			 * @return {String}
			 */
			imgPhotoPartialPath() {
				return `/img/${this.computedPhotoStreamType}/${this.computedPhotoStreamView}`;
			},

			/**
			 * Size of full sized images based on vieport width
			 *
			 * @return size {String}
			 */
			photoSize() {
				let small = 720;
				let medium = 1920;
				let size = 'large';

				if (this.window.width < small) {
					size = 'small';
				} else if (this.window.width >= medium) {
					size = 'large';
				} else {
					size = 'medium';
				}

				return size;
			}
		},

		methods: {
			/**
			 * Toggle mobile navigation
			 */
			navigationToggleButtonClick() {
				this.expanded = !this.expanded;
				this.albumsItemsDisplayed = false;
				this.galleryItemsDisplayed = false;
			},

			/**
			 * Toggle gallery nav items
			 */
			// TODO create named routes option in nav component
			toggleGalleryNavItemsDisplay() {
				this.galleryItemsDisplayed = !this.galleryItemsDisplayed;
				this.albumsItemsDisplayed = false;
			},

			/**
			 * Toggle albums nav items
			 */
			toggleAlbumsNavItemsDisplay() {
				this.albumsItemsDisplayed = !this.albumsItemsDisplayed;
				this.galleryItemsDisplayed = false;
			},

			/**
			 * Thumb URL fallback in case lazy load fails
			 *
			 */
			getImgSrc(img) {
				const path = img.substr(1);
				return `${this.imgPhotoPartialPath}/thumb/medium${path}`;
			},

			/**
			 * Thumb source set
			 *
			 */
			getDataSrcSet(img) {
				const path = img.substr(1);
				let dpi2x = '2x';
				let dpi1x = '1x';
				return `${this.imgPhotoPartialPath}/thumb/@2x${path} ${dpi2x}, ${this.imgPhotoPartialPath}/thumb/medium${path} ${dpi1x}`;
			},

			/**
			 * On resize check the viewport dimensions
			 *
			 */
			handleResize() {
				this.window.width = window.innerWidth;
				this.window.height = window.innerHeight;
			},
		},

		destroyed() {
			if (process.browser) {
				window.removeEventListener('resize', this.handleResize);
			}
		}
	};
</script>
