<!-- ====================================================================== -->
<!-- ======================= FRM06: HYPER BUTTON PAGE ===================== -->
<!-- ====================================================================== -->

<!-- ======================================================= -->
<!-- ======== KNOWN ISSUES ================================= -->
<!--

@LABEL: NEEDS WORK
@ISSUE: ACTIVE ANCHOR STYLING QUESTIONABLE
@ISSUE: INTERNAL BUTTON STYLING

-->

<!-- ======================================================= -->
<!-- ======== HTML ========================================= -->
<template>
	<cat01-cat-article catArticleHeading="FRM01: Hyper button">
		<cat02-cat-section catSectionHeading="Abstract">
			<p>
				The Component is a combination of the HTML elements
				&lt;button&gt; and &lt;anchor&gt;.
			</p>
		</cat02-cat-section>

		<cat02-cat-section catSectionHeading="API">
			<table class="tlg-cat-section-api-table">
				<thead class="tlg-cat-section-api-table-thead">
					<tr>
						<th>Parameter</th>
						<th>Type</th>
						<th>Default</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody class="tlg-cat-section-api-table-tbody">
					<tr>
						<td class="tlg-cat-section-param">type</td>
						<td class="tlg-cat-section-type">String</td>
						<td class="tlg-cat-section-def">'primary'</td>
						<td class="tlg-cat-section-des">
							Type is only relevant for mode button. Options:
							primary, secondary, internal.
						</td>
					</tr>
					<tr>
						<td class="tlg-cat-section-param">mode</td>
						<td class="tlg-cat-section-type">String</td>
						<td class="tlg-cat-section-def">'button'</td>
						<td class="tlg-cat-section-des">
							Mode of the component. Options: button, anchor.
						</td>
					</tr>
					<tr>
						<td class="tlg-cat-section-param">disabled</td>
						<td class="tlg-cat-section-type">Boolean</td>
						<td class="tlg-cat-section-def">false</td>
						<td class="tlg-cat-section-des">
							Disabled is only relevant for mode button. Sets the
							disabled attribute and adds the appropriate class.
						</td>
					</tr>
					<tr>
						<td class="tlg-cat-section-param">active</td>
						<td class="tlg-cat-section-type">Boolean</td>
						<td class="tlg-cat-section-def">false</td>
						<td class="tlg-cat-section-des">
							Adds the appropriate class when the element is
							active.
						</td>
					</tr>
					<tr>
						<td class="tlg-cat-section-param">title</td>
						<td class="tlg-cat-section-type">String</td>
						<td class="tlg-cat-section-def"></td>
						<td class="tlg-cat-section-des">
							Required HTML attribute, aids accessibility.
						</td>
					</tr>
					<tr>
						<td class="tlg-cat-section-param">label</td>
						<td class="tlg-cat-section-type">String</td>
						<td class="tlg-cat-section-def"></td>
						<td class="tlg-cat-section-des">
							WAI ARIA label attribute, aids accessibility.
						</td>
					</tr>
					<tr>
						<td class="tlg-cat-section-param">link</td>
						<td class="tlg-cat-section-type">String</td>
						<td class="tlg-cat-section-def">'#'</td>
						<td class="tlg-cat-section-des">
							Link is only relevant for mode anchor. Hypertext
							reference.
						</td>
					</tr>
					<tr>
						<td class="tlg-cat-section-param">linkNewTab</td>
						<td class="tlg-cat-section-type">Boolean</td>
						<td class="tlg-cat-section-def">false</td>
						<td class="tlg-cat-section-des">
							Defines if the resource should be opened in a new
							browser tab.
						</td>
					</tr>
					<tr>
						<td class="tlg-cat-section-param">id</td>
						<td class="tlg-cat-section-type">String</td>
						<td class="tlg-cat-section-def"></td>
						<td class="tlg-cat-section-des">
							ID of the conmponent.
						</td>
					</tr>
				</tbody>
			</table>
		</cat02-cat-section>

		<cat02-cat-section catSectionHeading="Examples">
			<cat03-component-example componentExampleHeading="Primary button">
				<frm06-hyper-button title="Primary button"
					>Primary button</frm06-hyper-button
				>
			</cat03-component-example>

			<cat03-component-example
				componentExampleHeading="Primary button disabled"
			>
				<frm06-hyper-button title="Primary button disabled" disabled
					>Primary button</frm06-hyper-button
				>
			</cat03-component-example>

			<cat03-component-example componentExampleHeading="Secondary button">
				<frm06-hyper-button title="Secondary button" type="secondary"
					>Secondary button</frm06-hyper-button
				>
			</cat03-component-example>

			<cat03-component-example
				componentExampleHeading="Secondary button disabled"
			>
				<frm06-hyper-button
					title="Secondary button disabled"
					disabled
					type="secondary"
					>Secondary button</frm06-hyper-button
				>
			</cat03-component-example>

			<cat03-component-example componentExampleHeading="Hyper link">
				<frm06-hyper-button title="Anchor link" mode="anchor"
					>Anchor link</frm06-hyper-button
				>
			</cat03-component-example>

			<cat03-component-example
				componentExampleHeading="Hyper link in paragraph"
			>
				<p>
					Lucas ipsum dolor sit amet grievous hutt jabba
					<frm06-hyper-button
						title="Hyper link to Star wars ipsum site"
						mode="anchor"
						link="https://star-wars-ipsum.herokuapp.com/"
						:linkNewTab="true"
						>obi-wan</frm06-hyper-button
					>
					obi-wan padmé mustafar palpatine dantooine coruscant moff.
					Solo windu skywalker moff mustafar. Alderaan solo secura
					hutt mandalore. Dantooine coruscant darth luke fett dooku.
				</p>
			</cat03-component-example>
		</cat02-cat-section>
	</cat01-cat-article>
</template>

<!-- ======================================================= -->
<!-- ======== JS =========================================== -->
<script>
	// ===== IMPORT CAT COMPONENTS ==================
	import Cat01CatArticle from '~/components/catalogue/cat01-cat-article';
	import Cat02CatSection from '~/components/catalogue/cat02-cat-section';
	import Cat03ComponentExample from '~/components/catalogue/cat03-component-example';

	// ===== IMPORT FRM COMPONENTS ==================
	import Frm06HyperButton from '~/components/form/frm06-hyper-button';

	// ===== EXPORT =================================
	export default {
		name: 'Frm01HyperButtonPage',
		layout: 'catalogue',
		components: {
			Cat01CatArticle,
			Cat02CatSection,
			Cat03ComponentExample,
			Frm06HyperButton
		}
	};
</script>
