<!-- ====================================================================== -->
<!-- ======================= FRM03: PASSWORD PAGE ========================= -->
<!-- ====================================================================== -->

<!-- ======================================================= -->
<!-- ======== KNOWN ISSUES ================================= -->
<!--

@LABEL: NEEDS WORK
@ISSUE: ERROR INPUT STYLING

-->

<!-- ======================================================= -->
<!-- ======== HTML ========================================= -->
<template>
	<cat01-cat-article catArticleHeading="FRM03: Password">
		<cat02-cat-section catSectionHeading="Abstract">
			<p>
				The component is input element of type password. It always takes 100% of parent element's width.
			</p>
			<p>Features available:</p>
			<ul>
				<li>pasword show/hide button - an accessibility feature set to true by default</li>
				<li>animated label - acts as placeholder and travels up on focus/input</li>
			</ul>
		</cat02-cat-section>

		<cat02-cat-section catSectionHeading="API">
			<table class="tlg-cat-section-api-table">
				<thead class="tlg-cat-section-api-table-thead">
					<tr>
						<th>Parameter</th>
						<th>Type</th>
						<th>Default</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody class="tlg-cat-section-api-table-tbody">
					<tr>
						<td class="tlg-cat-section-param">name*</td>
						<td class="tlg-cat-section-type">String</td>
						<td class="tlg-cat-section-def"></td>
						<td class="tlg-cat-section-des">
							Name of the input.
						</td>
					</tr>
					<tr>
						<td class="tlg-cat-section-param">labelCaption</td>
						<td class="tlg-cat-section-type">String</td>
						<td class="tlg-cat-section-def"></td>
						<td class="tlg-cat-section-des">
							Caption displayed in the associated label.
						</td>
					</tr>
					<tr>
						<td class="tlg-cat-section-param">required</td>
						<td class="tlg-cat-section-type">Boolean</td>
						<td class="tlg-cat-section-def">false</td>
						<td class="tlg-cat-section-des">
							Boolean property of required input.
						</td>
					</tr>
					<tr>
						<td class="tlg-cat-section-param">readonly</td>
						<td class="tlg-cat-section-type">Boolean</td>
						<td class="tlg-cat-section-def">false</td>
						<td class="tlg-cat-section-des">
							Boolean property of read only state.
						</td>
					</tr>
					<tr>
						<td class="tlg-cat-section-param">disabled</td>
						<td class="tlg-cat-section-type">Boolean</td>
						<td class="tlg-cat-section-def">false</td>
						<td class="tlg-cat-section-des">
							Boolean property of disabled state.
						</td>
					</tr>
					<tr>
						<td class="tlg-cat-section-param">error</td>
						<td class="tlg-cat-section-type">Boolean</td>
						<td class="tlg-cat-section-def">false</td>
						<td class="tlg-cat-section-des">
							Boolean property of error state.
						</td>
					</tr>
					<tr>
						<td class="tlg-cat-section-param">value</td>
						<td class="tlg-cat-section-type">String</td>
						<td class="tlg-cat-section-def">null</td>
						<td class="tlg-cat-section-des">
							Value of the input field.
						</td>
					</tr>
					<tr>
						<td class="tlg-cat-section-param">placeholder</td>
						<td class="tlg-cat-section-type">String</td>
						<td class="tlg-cat-section-def">""</td>
						<td class="tlg-cat-section-des">
							Placeholder in the input field.
						</td>
					</tr>
					<tr>
						<td class="tlg-cat-section-param">autocomplete</td>
						<td class="tlg-cat-section-type">String</td>
						<td class="tlg-cat-section-def">current-password</td>
						<td class="tlg-cat-section-des">
							Enumerated autocomplete options ['off','current-password','new-password'].
						</td>
					</tr>
					<tr>
						<td class="tlg-cat-section-param">masked</td>
						<td class="tlg-cat-section-type">Boolean</td>
						<td class="tlg-cat-section-def">true</td>
						<td class="tlg-cat-section-des">
							Show/hide indicator.
						</td>
					</tr>
					<tr>
						<td class="tlg-cat-section-param">maskToggle</td>
						<td class="tlg-cat-section-type">Boolean</td>
						<td class="tlg-cat-section-def">true</td>
						<td class="tlg-cat-section-des">
							If the toggle button is present.
						</td>
					</tr>
					<tr>
						<td class="tlg-cat-section-param">maskToggleCaption</td>
						<td class="tlg-cat-section-type">String</td>
						<td class="tlg-cat-section-def">null</td>
						<td class="tlg-cat-section-des">
							Caption of toggle button. Should be implemented with maskToggle button due to accessibility.
						</td>
					</tr>
					<tr>
						<td class="tlg-cat-section-param">id</td>
						<td class="tlg-cat-section-type">String</td>
						<td class="tlg-cat-section-def">null</td>
						<td class="tlg-cat-section-des">
							ID of input field.
						</td>
					</tr>
				</tbody>
			</table>
		</cat02-cat-section>

		<cat02-cat-section catSectionHeading="Examples">
			<cat03-component-example componentExampleHeading="Default password">
				<frm03-password
					v-model="password"
					labelCaption="Password"
					id="user-password"
					name="password"
					:maskToggleCaption="passwordMaskToggleCaption"
					@passwordMaskToggleEvent="passwordMaskToggle"
				/>
			</cat03-component-example>

			<cat03-component-example componentExampleHeading="Password no toggle">
				<frm03-password
					v-model="passwordNoToggle"
					labelCaption="Password no toggle"
					id="no-toggle-password"
					name="password without togle"
					:maskToggle="false"
				/>
			</cat03-component-example>

			<cat03-component-example componentExampleHeading="Password animated">
				<frm03-password
					v-model="passwordAnimated"
					labelCaption="Password animated"
					id="animated-password"
					name="animated password"
					:animated="true"
				/>
			</cat03-component-example>

			<cat03-component-example componentExampleHeading="Password error">
				<frm03-password
					v-model="passwordError"
					labelCaption="Password error"
					id="error-password"
					name="error password"
					:error="error"
					@passwordFocusEvent="errorFocused"
				/>
			</cat03-component-example>
		</cat02-cat-section>
	</cat01-cat-article>
</template>

<!-- ======================================================= -->
<!-- ======== JS =========================================== -->
<script>
	// ===== IMPORT CAT COMPONENTS ==================
	import Cat01CatArticle from '~/components/catalogue/cat01-cat-article';
	import Cat02CatSection from '~/components/catalogue/cat02-cat-section';
	import Cat03ComponentExample from '~/components/catalogue/cat03-component-example';

	// ===== IMPORT FRM COMPONENTS ==================
	import Frm03Password from '~/components/form/frm03-password';

	// ===== EXPORT =================================
	export default {
		name: 'Frm03PasswordPage',
		layout: 'catalogue',
		components: {
			Cat01CatArticle,
			Cat02CatSection,
			Cat03ComponentExample,
			Frm03Password
		},
		data() {
			return {
				password: "",
				passwordNoToggle: "",
				passwordMaskToggleCaption: "Show password",
				passwordAnimated: "",
				passwordError: "",
				error: true
			};
		},
		methods: {
			/**
			 * Toggle mask password button caption
			 *
			 * @returns {String}
			 */
			passwordMaskToggle(mask) {
				return mask
					? (this.passwordMaskToggleCaption = "Show password")
					: (this.passwordMaskToggleCaption = "Hide password");
			},

			/**
			 * Event handler for focus on error password field
			 * Does not check if the value has changed
			 *
			*/
			errorFocused() {
				this.error = false
			}
		}
	};
</script>
