// ========================================================================= //
// ========================= CATALOGUE ===================================== //
// ========================================================================= //

// =============================================================== //
// ========== VARIABLES ========================================== //

// ===== DIMENSIONS ====================
$tlg-cat-navigation-width: 							280px;
$tlg-cat-navigation-width-desktop: 					400px;
$tlg-cat-navigation-exact-active-link-bar-width: 	8px;

$tlg-cat-navigation-margin-y: 						30px;
$tlg-cat-navigation-margin-y-desktop: 				40px;

$tlg-cat-navigation-padding: 						10px;

$tlg-cat-navigation-logo-padding: 					4px 0 15px 0;
$tlg-cat-navigation-logo-padding-desktop: 			14px 0 20px 0;

$tlg-cat-navigation-scroll-bar-width: 				6px;
$tlg-cat-navigation-scroll-bar-radius: 				$tlg-cat-navigation-scroll-bar-width;

$tlg-cat-main-grid-margin-x: 						$tlg-cat-navigation-width;
$tlg-cat-main-grid-margin-x-desktop: 				$tlg-cat-navigation-width-desktop;

// ===== COLOURS ========================
$tlg-cat-navigation-txt-colour: 					$tlg-base-text-colour;
$tlg-cat-navigation-main-item-txt-colour: 			$tlg-base-colour-brown;
$tlg-cat-navigation-exact-active-link: 				$tlg-base-colour-brand;

$tlg-cat-navigation-bg: 							$tlg-colour-gray-scale-02;
$tlg-cat-navigation-bar-bg: 						$tlg-cat-navigation-bg;
$tlg-cat-navigation-bar-tracker: 					$tlg-colour-gray-scale-01;

// =============================================================== //
// ========== GRID =============================================== //
.tlg-cat-page {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr auto;
	grid-template-areas:
		'main'
		'footer';
	min-height: 100vh;
	margin-left: $tlg-cat-main-grid-margin-x;

	.tlg-cat-page-grid-nav {
		position: fixed;
		top: 0;
		left: 0;
		width: 280px;
		height: 100vh;
	}

	.tlg-cat-page-grid-main {
		grid-area: main;
	}

	.tlg-c-the-footer {
		grid-area: footer;
	}

	// =============================================================== //
	// ========== NAVIGATION ========================================= //
	.tlg-cat-page-grid-nav {
		background: $tlg-cat-navigation-bg;
		overflow-y: auto;

		// ===== FONT AND ACTIVE LINK ==========
		.tlg-navigation-main-item {
			padding-bottom: $tlg-cat-navigation-padding;
			& > .tlg-text {
				color: $tlg-cat-navigation-main-item-txt-colour;
				font-weight: $tlg-bold-font-weight;
			}
		}

		.tlg-navigation-subnavigation {
			padding-left: $tlg-cat-navigation-padding;
		}

		a {
			display: block;
			position: relative;
			text-decoration: none;
			font-weight: $tlg-base-font-weight;

			&.tlg-exact-active-link {
				&::after {
					content: '';
					position: absolute;
					top: 0;
					right: 0;
					width: $tlg-cat-navigation-exact-active-link-bar-width;
					height: 100%;
					background: $tlg-cat-navigation-exact-active-link;
				}
			}

			.tlg-text {
				color: $tlg-cat-navigation-txt-colour;
			}
		}

		// ===== WEBKIT SCROLL BAR =============
		&::-webkit-scrollbar-track {
			-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); // TODO variable
			background-color: $tlg-cat-navigation-bar-tracker;
			border-radius: $tlg-cat-navigation-scroll-bar-radius;
		}

		&::-webkit-scrollbar {
			width: $tlg-cat-navigation-scroll-bar-width;
			background-color: $tlg-cat-navigation-bar-bg;
		}

		&::-webkit-scrollbar-thumb {
			border-radius: $tlg-cat-navigation-scroll-bar-radius;
			background-image: -webkit-gradient(
				linear,
				left bottom,
				left top,
				color-stop(0.44, $tlg-colour-gray-scale-08),
				color-stop(0.72, $tlg-colour-gray-scale-09),
				color-stop(0.86, $tlg-colour-gray-scale-10)
			);
		}

		.tlg-navigation-list {
			padding: 0 $tlg-base-content-padding-x;

			// ===== HOME LOGO =====================
			.tlg-navigation-img-item {
				position: sticky;
				top: 0;
				margin-bottom: $tlg-cat-navigation-margin-y;
				padding: $tlg-cat-navigation-logo-padding; // visually aligning the logo with h1
				background: $tlg-cat-navigation-bg;
				box-shadow: 0 8px 6px -6px $tlg-cat-navigation-bg;
			}
		}
	}
}

// =============================================================== //
// ========== RESPONSIVE (TABLET - 100%) ========================= //
@include mx-media-query(tablet) {
	.tlg-cat-page {
		.tlg-home-page,
		.tlg-cat-side-nav {
			padding: 0 $tlg-base-content-padding-x-desktop;
		}

		.tlg-cat-page-grid-nav {
			.tlg-navigation-list {
				.tlg-navigation-img-item {
					margin-bottom: $tlg-cat-navigation-margin-y-desktop;
					padding: $tlg-cat-navigation-logo-padding-desktop; // visually aligning the logo with h1
				}
			}
		}
	}
}

// =============================================================== //
// ========== RESPONSIVE (BAND - 100%) ========================= //
@include mx-media-query(band) {
	.tlg-cat-page {
		margin-left: $tlg-cat-main-grid-margin-x-desktop;

		.tlg-cat-page-grid-nav {
			width: $tlg-cat-navigation-width-desktop;
			padding-left: ($tlg-cat-main-grid-margin-x-desktop - $tlg-cat-main-grid-margin-x) / 2;
			left: 0;
		}

		.tlg-cat-page-grid-main {
			margin: 0 auto;
		}
	}
}
