// ========================================================================= //
// ========================= CAT02: COMPONENT EXAMPLE ====================== //
// ========================================================================= //

// =============================================================== //
// ========== GENERAL ============================================ //
.tlg-c-component-example {
	margin-bottom: $tlg-components-example-margin-y;

	// =============================================================== //
	// ========== ARROW ============================================== //
	.tlg-component-example-heading {
		position: relative;
		margin-left: -1 * $tlg-cat-section-content-padding-x;
		padding-left: $tlg-cat-section-heading-padding-x;
		font-size: $tlg-small-font-size;
		color: $tlg-base-text-colour;

		&::before {
			content: '';
			position: absolute;
			top: $tlg-cat-section-heading-arrow-out-top;
			left: $tlg-cat-section-heading-arrow-out-left;
			width: 0;
			height: 0;
			border-top: $tlg-cat-section-heading-arrow-out-size solid
				transparent;
			border-bottom: $tlg-cat-section-heading-arrow-out-size solid
				transparent;
			border-left: $tlg-cat-section-heading-arrow-out-size solid
				$tlg-cat-section-heading-arrow-out-colour;
		}

		&::after {
			content: '';
			position: absolute;
			top: $tlg-cat-section-heading-arrow-in-top;
			left: $tlg-cat-section-heading-arrow-in-left;
			width: 0;
			height: 0;
			border-top: $tlg-cat-section-heading-arrow-in-size solid transparent;
			border-bottom: $tlg-cat-section-heading-arrow-in-size solid
				transparent;
			border-left: $tlg-cat-section-heading-arrow-in-size solid
				$tlg-cat-section-heading-arrow-in-colour;
		}
	}

	.tlg-component-example-content {
	}
}

// =============================================================== //
// ========== RESPONSIVE (TABLET - 100%) ========================= //
@include mx-media-query(tablet) {
	.tlg-c-component-example {
		margin-bottom: $tlg-components-example-margin-y-desktop;

		.tlg-component-example-heading {
			font-size: $tlg-small-font-size-desktop;
		}

		.tlg-component-example-content {
		}
	}
}
