// ========================================================================= //
// ========================= CAT02: CAT SECTION ============================ //
// ========================================================================= //

// =============================================================== //
// ========== DIMENSIONS ========================================= //
$tlg-cat-section-content-padding-x: 		25px;
$tlg-cat-section-heading-padding-x: 		$tlg-cat-section-content-padding-x;

// ===== IMPORTANT =====================
$tlg-cat-section-par-important-left:		-1 * ceil($tlg-cat-section-content-padding-x / 2);
$tlg-cat-section-par-important-width:		floor($tlg-cat-section-content-padding-x / 5);


// ===== TABLE =========================
$tlg-cat-section-table-font-size: 			1rem;
$tlg-cat-section-table-mono-font:			$tlg-mono-font;
$tlg-cat-section-table-mono-font-size:		0.9rem;

// ===== ARROW =========================
$tlg-cat-section-heading-arrow-out-size:	15px;
$tlg-cat-section-heading-arrow-out-top:		-6px;
$tlg-cat-section-heading-arrow-out-left:	0;

$tlg-cat-section-heading-arrow-in-size:		$tlg-cat-section-heading-arrow-out-size - 1px;
$tlg-cat-section-heading-arrow-in-top:		$tlg-cat-section-heading-arrow-out-top - 1px;
$tlg-cat-section-heading-arrow-in-left:		$tlg-cat-section-heading-arrow-out-left - 1px;

// =============================================================== //
// ========== RESPONSIVITY ======================================= //

// =========================================================
// ====== COLORS ===========================================
$tlg-cat-section-border-colour:				$tlg-base-colour-brand;

$tlg-cat-section-heading-bg-colour:			$tlg-cat-section-border-colour;
$tlg-cat-section-heading-txt-colour:		$tlg-base-colour-white;

$tlg-cat-section-par-important-colour:		$tlg-colour-orange-01;

// ===== ARROW =========================
$tlg-cat-section-heading-arrow-out-colour:	$tlg-cat-section-border-colour;
$tlg-cat-section-heading-arrow-in-colour:	$tlg-base-background-light-colour;

