// ========================================================================= //
// ========================= CAT02: CAT SECTION ============================ //
// ========================================================================= //

// =============================================================== //
// ========== GENERAL ============================================ //
.tlg-c-cat-section {
	margin-bottom: $tlg-base-block-margin;
	border: 1px solid $tlg-cat-section-border-colour;

	// =============================================================== //
	// ========== HEADING ============================================ //
	.tlg-cat-section-heading {
		padding-left: $tlg-cat-section-heading-padding-x;
		background-color: $tlg-cat-section-heading-bg-colour;
		color: $tlg-cat-section-heading-txt-colour;
	}

	// =============================================================== //
	// ========== CONTENT ============================================ //
	.tlg-cat-section-content {
		padding: 0 $tlg-cat-section-content-padding-x;

		// =============================================================== //
		// ========== IMPORTANT ========================================== //
		.tlg-cat-section-important {
			position: relative; // !DO NOT REMOVE, CAT02 ARROWS DEPENDENCY!

			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: $tlg-cat-section-par-important-left;
				width: $tlg-cat-section-par-important-width;
				height: 100%;
				background: $tlg-cat-section-par-important-colour;

			}
		}

		// =============================================================== //
		// ========== TABLE ============================================== //
		.tlg-cat-section-api-table {
			font-size: $tlg-cat-section-table-font-size;

			.tlg-cat-section-param,
			.tlg-cat-section-type,
			.tlg-cat-section-def {
				font-family: $tlg-cat-section-table-mono-font;
				font-size: $tlg-cat-section-table-mono-font-size;
			}

		}
	}
}

// =============================================================== //
// ========== RESPONSIVE (TABLET - 100%) ========================= //
@include mx-media-query(tablet) {
	.tlg-cat-section-content {
		margin-bottom: $tlg-base-block-margin-desktop;
	}
}
