// ========================================================================= //
// ========================= CAT01: CAT ARTICLE ============================ //
// ========================================================================= //

// =============================================================== //
// ========== GENERAL ============================================ //
.tlg-c-cat-article {
    .tlg-cat-article-heading {
        padding: $tlg-base-block-padding 0;
    }
}

// =============================================================== //
// ========== RESPONSIVE (TABLET - 100%) ========================= //
@include mx-media-query(tablet) {
    .tlg-c-cat-article {
        .tlg-cat-article-heading {
            padding: $tlg-base-block-padding-desktop 0;
        }
    }
  }
