<!-- ====================================================================== -->
<!-- ======================= CATALOGUE VIEW =============================== -->
<!-- ====================================================================== -->

<!-- ======================================================= -->
<!-- ======== KNOWN ISSUES ================================= -->
<!--

@LABEL: STABLE

-->

<!-- ======================================================= -->
<!-- ======== HTML ========================================= -->
<template>
	<div class="tlg-cat-page">
		<gen03-navigation
			class="tlg-cat-page-grid-nav"
			:menuRoutes="sideMenuRoutesArray"
			label="Catalogue main navigation"
		>
			<img
				src="~static/img/logo/thisleafgatherer-logo.svg"
				alt="This leaf gatherer home page"
				class="tlg-site-logo-img"
			/>
		</gen03-navigation>

		<div class="tlg-content-wrapper tlg-cat-page-grid-main">
			<nuxt />
		</div>
		<prj02-the-footer />
	</div>
</template>

<!-- ======================================================= -->
<!-- ======== JS =========================================== -->
<script>
	// ===== IMPORT =================================
	import Gen03Navigation from '~/components/general/gen03-navigation';
	import Prj02TheFooter from '~/components/project/prj02-the-footer';

	// ===== EXPORT =================================
	export default {
		name: 'CatalogueView',
		components: {
			Gen03Navigation,
			Prj02TheFooter
		},
		data() {
			return {
				sideMenuRoutesArray: [
					{
						id: 'tlg-home-page',
						path: '/',
						text: 'This leaf gatherer home page',
						img: true
					},
					{
						id: 'cat-general-info',
						subnavigation: true,
						text: 'General information',
						menuSubRoutes: [
							{
								id: 'cat-intro-page',
								path: '/catalogue',
								text: 'Introduction'
							},
							{
								id: 'cat00-typography-page',
								path: '/catalogue/cat00-typography-page/',
								text: 'Typography'
							}
						]
					},
					{
						id: 'cat-general-components',
						subnavigation: true,
						text: 'General components',
						menuSubRoutes: [
							// {
							// 	id: 'cat-heading-page',
							// 	page:
							// 		'/catalogue/general-components/cat01-heading-page/',
							// 	text: 'Gen01: Heading'
							// },
							{
								id: 'cat-navigation-page',
								path:
									'/catalogue/general-components/cat03-navigation-page/',
								text: 'Gen03: Navigation'
							},
							{
								id: 'cat-tab-panel-page',
								path:
									'/catalogue/general-components/cat08-tab-panel-page/',
								text: 'Gen08: Tab panel'
							}
							// {
							// 	id: 'cat-thumbnail-gallery-page',
							// 	page:
							// 		'/catalogue/general-components/cat05-thumbnail-gallery-page/',
							// 	text: 'Gen05: Thumbnail gallery'
							// },
							// {
							// 	id: 'cat-light-gallery-page',
							// 	page:
							// 		'/catalogue/general-components/cat03-light-gallery-page/',
							// 	text: 'Gen06: Light gallery'
							// }
						]
					},
					{
						id: 'cat-form-components',
						subnavigation: true,
						text: 'Form components',
						menuSubRoutes: [
							{
								id: 'cat-password-page',
								path:
									'/catalogue/form-components/frm03-password-page/',
								text: 'Frm03: Password'
							},
							{
								id: 'cat-hyper-button-page',
								path:
									'/catalogue/form-components/frm06-hyper-button-page/',
								text: 'Frm06: Hyper button'
							}
						]
					}
				]
			};
		},
		methods: {
			/**
			 * Navigate to home page
			 */
			inputLogoImgClickEvent() {
				this.$router.push({ path: '/' });
			}
		}
	};
</script>
