<!-- ====================================================================== -->
<!-- ======================= DEFAULT VIEW ================================= -->
<!-- ====================================================================== -->

<!-- ======================================================= -->
<!-- ======== KNOWN ISSUES ================================= -->
<!--

@LABEL: NEEDS WORK
@ISSUE: IMPLEMENT GRID
@ISSUE: IMPLEMENT ACCESSIBILITY
@ISSUE: DECIDE THE FUTURE OF CLASS 'tlg-content-wrapper'

-->

<!-- ======================================================= -->
<!-- ======== HTML ========================================= -->
<template>
	<div>
		<nuxt />
		<prj02-the-footer />
	</div>
</template>

<!-- ======================================================= -->
<!-- ======== JS =========================================== -->
<script>
	// ===== IMPORT COMPONENTS ======================
	import Prj02TheFooter from '~/components/project/prj02-the-footer';

	// ===== EXPORT ================================
	export default {
		components: {
			Prj02TheFooter
		}
	};
</script>
