<!-- ====================================================================== -->
<!-- ======================= GEN06: LIGHT GALLERY ========================= -->
<!-- ====================================================================== -->
<!--

@LABEL: NEEDS WORK
@ISSUE: STYLING
@ISSUE: IMPLEMENT THUMBS
@ISSUE: IMPLEMENT FULLSCREEN
@ISSUE: IMPLEMENT SHARE
@ISSUE: IMPLEMENT ACCESSIBILITY
@ISSUE: ADD MAIN -C- CLASS
@ISSUE: MOVE STYLE TO THEME
@ISSUE: MOVE STYLE TO THEME
@ISSUE: CONTRIBUTE
@ISSUE: PROVIDE CREDENTIALS
@SOURCE: https://github.com/peremp/vue-light-gallery/blob/master/src/light-gallery.vue

-->

<template>
	<transition name="fade">
		<div
			v-if="typeof index === 'number'"
			class="light-gallery"
			@touchstart="touchstartHandler"
			@touchmove="touchmoveHandler"
			@touchend="touchendHandler"
		>
			<div
				class="light-gallery__modal"
				:style="`background: ${background}`"
			>
				<div
					:class="[
						'light-gallery__spinner',
						!isImageLoaded || 'hide'
					]"
				>
					<div
						class="light-gallery__dot"
						:style="`border-color: ${interfacecolour}`"
					/>
					<div
						class="light-gallery__dot"
						:style="`border-color: ${interfacecolour}`"
					/>
					<div
						class="light-gallery__dot"
						:style="`border-color: ${interfacecolour}`"
					/>
				</div>
				<div class="light-gallery__container">
					<ul class="light-gallery__content">
						<li
							v-for="(image, imageIndex) in formattedImages"
							:key="imageIndex"
							:style="
								`transform: translate3d(${currentIndex *
									-100}%, 0px, 0px);`
							"
							class="light-gallery__image-container"
						>
							<div class="light-gallery__image">
								<div
									v-show="image.title && isImageLoaded"
									class="light-gallery__text"
									:style="
										`background: ${background}; color: ${interfacecolour}`
									"
								>
									{{ image.title }}
								</div>
								<img
									:ref="`lg-img-${imageIndex}`"
									:src="
										shouldPreload(imageIndex)
											? image.url
											: false
									"
									@load="imageLoaded($event, imageIndex)"
								/>
							</div>
						</li>
					</ul>
				</div>
				<button
					v-if="currentIndex > 0"
					class="light-gallery__prev"
					:style="`background: ${background}`"
					@click="prev()"
				>
					<svg width="22" height="22" viewBox="0 0 31.494 31.494">
						<path
							style="fill:#fff;"
							d="M10.273,5.009c0.444-0.444,1.143-0.444,1.587,0c0.429,0.429,0.429,1.143,0,1.571l-8.047,8.047h26.554
	c0.619,0,1.127,0.492,1.127,1.111c0,0.619-0.508,1.127-1.127,1.127H3.813l8.047,8.032c0.429,0.444,0.429,1.159,0,1.587
	c-0.444,0.444-1.143,0.444-1.587,0l-9.952-9.952c-0.429-0.429-0.429-1.143,0-1.571L10.273,5.009z"
						/>
					</svg>
				</button>
				<button
					v-if="currentIndex + 1 < images.length"
					class="light-gallery__next"
					:style="`background: ${background}`"
					@click="next()"
				>
					<svg width="22" height="22" viewBox="0 0 31.49 31.49">
						<path
							style="fill:#fff;"
							d="M21.205,5.007c-0.429-0.444-1.143-0.444-1.587,0c-0.429,0.429-0.429,1.143,0,1.571l8.047,8.047H1.111
	C0.492,14.626,0,15.118,0,15.737c0,0.619,0.492,1.127,1.111,1.127h26.554l-8.047,8.032c-0.429,0.444-0.429,1.159,0,1.587
	c0.444,0.444,1.159,0.444,1.587,0l9.952-9.952c0.444-0.429,0.444-1.143,0-1.571L21.205,5.007z"
						/>
					</svg>
				</button>
				<button class="light-gallery__close" @click="close()">
					<svg width="20" height="20" viewBox="0 0 15.642 15.642">
						<path
							style="fill:#fff"
							d="M8.882,7.821l6.541-6.541c0.293-0.293,0.293-0.768,0-1.061  c-0.293-0.293-0.768-0.293-1.061,0L7.821,6.76L1.28,0.22c-0.293-0.293-0.768-0.293-1.061,0c-0.293,0.293-0.293,0.768,0,1.061  l6.541,6.541L0.22,14.362c-0.293,0.293-0.293,0.768,0,1.061c0.147,0.146,0.338,0.22,0.53,0.22s0.384-0.073,0.53-0.22l6.541-6.541  l6.541,6.541c0.147,0.146,0.338,0.22,0.53,0.22c0.192,0,0.384-0.073,0.53-0.22c0.293-0.293,0.293-0.768,0-1.061L8.882,7.821z"
						/>
					</svg>
				</button>
			</div>
		</div>
	</transition>
</template>

<script>
	const keyMap = {
		LEFT: 37,
		RIGHT: 39,
		ESC: 27
	};
	export default {
		props: {
			images: {
				type: Array,
				default: () => []
			},
			index: {
				type: Number,
				default: 1
			},
			disableScroll: {
				type: Boolean,
				default: false
			},
			background: {
				type: String,
				default: 'rgba(0, 0, 0, 0.8)'
			},
			interfacecolor: {
				type: String,
				default: 'rgba(255, 255, 255, 0.8)'
			}
		},
		data() {
			return {
				currentIndex: this.index,
				isImageLoaded: false,
				bodyOverflowStyle: '',
				touch: {
					count: 0,
					x: 0,
					y: 0,
					multitouch: false,
					flag: false
				}
			};
		},
		computed: {
			formattedImages() {
				return this.images.map(image =>
					typeof image === 'string' ? { url: image } : image
				);
			}
		},
		watch: {
			index(val) {
				if (!document) return;
				this.currentIndex = val;
				if (this.disableScroll && typeof val === 'number') {
					document.body.style.overflow = 'hidden';
				} else if (this.disableScroll && !val) {
					document.body.style.overflow = this.bodyOverflowStyle;
				}
			},
			currentIndex(val) {
				this.setImageLoaded(val);
			}
		},
		mounted() {
			if (!document) return;
			this.bodyOverflowStyle = document.body.style.overflow;
			this.bindEvents();
		},
		beforeDestroy() {
			if (!document) return;
			if (this.disableScroll) {
				document.body.style.overflow = this.bodyOverflowStyle;
			}
			this.unbindEvents();
		},
		methods: {
			close() {
				this.$emit('close');
			},
			prev() {
				if (this.currentIndex === 0) return;
				this.currentIndex -= 1;
				this.$emit('slide', { index: this.currentIndex });
			},
			next() {
				if (this.currentIndex === this.images.length - 1) return;
				this.currentIndex += 1;
				this.$emit('slide', { index: this.currentIndex });
			},
			imageLoaded($event, imageIndex) {
				const { target } = $event;
				target.classList.add('loaded');
				if (imageIndex === this.currentIndex) {
					this.setImageLoaded(imageIndex);
				}
			},
			getImageElByIndex(index) {
				const elements = this.$refs[`lg-img-${index}`] || [];
				return elements[0];
			},
			setImageLoaded(index) {
				const el = this.getImageElByIndex(index);
				this.isImageLoaded = !el ? false : el.classList.contains('loaded');
			},
			shouldPreload(index) {
				const el = this.getImageElByIndex(index) || {};
				const { src } = el;
				return (
					!!src ||
					index === this.currentIndex ||
					index === this.currentIndex - 1 ||
					index === this.currentIndex + 1
				);
			},
			bindEvents() {
				document.addEventListener('keydown', this.keyDownHandler, false);
			},
			unbindEvents() {
				document.removeEventListener('keydown', this.keyDownHandler, false);
			},
			touchstartHandler(event) {
				this.touch.count += 1;
				if (this.touch.count > 1) {
					this.touch.multitouch = true;
				}
				this.touch.x = event.changedTouches[0].pageX;
				this.touch.y = event.changedTouches[0].pageY;
			},
			touchmoveHandler(event) {
				if (this.touch.flag || this.touch.multitouch) return;
				const touchEvent = event.touches[0] || event.changedTouches[0];
				if (touchEvent.pageX - this.touch.x > 40) {
					this.touch.flag = true;
					this.prev();
				} else if (touchEvent.pageX - this.touch.x < -40) {
					this.touch.flag = true;
					this.next();
				}
			},
			touchendHandler() {
				this.touch.count -= 1;
				if (this.touch.count <= 0) {
					this.touch.multitouch = false;
				}
				this.touch.flag = false;
			},
			keyDownHandler(event) {
				switch (event.keyCode) {
					case keyMap.LEFT:
						this.prev();
						break;
					case keyMap.RIGHT:
						this.next();
						break;
					case keyMap.ESC:
						this.close();
						break;
					default:
						break;
				}
			}
		}
	};
</script>


