
				   .light-gallery {
					   &__modal {
						   position: fixed;
						   display: block;
						   z-index: 1001;
						   top: 0;
						   left: 0;
						   width: 100%;
						   height: 100%;
						   overflow: hidden;
					   }
					   &__content {
						   height: 100%;
						   width: 100%;
						   white-space: nowrap;
						   padding: 0;
						   margin: 0;
					   }
					   &__container {
						   position: absolute;
						   z-index: 1002;
						   display: block;
						   width: 100%;
						   top: 50%;
						   left: 50%;
						   transform: translate(-50%, -50%);
						   text-align: center;
					   }
					   &__image-container {
						   display: inline-table;
						   vertical-align: middle;
						   position: relative;
						   width: 100%;
						   height: 100%;
						   text-align: center;
						   transition: left 0.4s ease, transform 0.4s ease,
						   -webkit-transform 0.4s ease;
					   }
					   &__image {
						   & {
							   display: inline-block;
							   position: relative;
							   margin: 0 auto;
							   max-width: 100%;
							   max-height: 100vh;
							   // opacity: 0;
						   }
						   & img {
							   & {
								   max-width: 100%;
								   max-height: 100vh;
								   opacity: 0;
								   transition: opacity 0.2s;
							   }
							   &.loaded {
								   opacity: 1;
							   }
						   }
					   }
					   &__text {
						   position: absolute;
						   z-index: 1000;
						   bottom: 0;
						   display: block;
						   margin: 0 auto;
						   padding: 12px 30px;
						   width: 100%;
						   box-sizing: border-box;
					   }
					   &__next,
					   &__prev,
					   &__close {
						   position: absolute;
						   z-index: 1002;
						   display: block;
						   background: transparent;
						   border: 0;
						   border-radius: 2px;
						   line-height: 0;
						   outline: none;
						   padding: 8px 10px 9px;
						   cursor: pointer;
					   }
					   &__next {
						   top: 50%;
						   transform: translate(0, -50%);
						   right: 1.5%;
						   vertical-align: middle;
					   }
					   &__prev {
						   top: 50%;
						   transform: translate(0, -50%);
						   left: 1.5%;
					   }
					   &__close {
						   right: 0;
						   padding: 12px;
					   }
					   &__spinner {
						   & {
							   position: absolute;
							   z-index: 1003;
							   top: 50%;
							   left: 50%;
							   transform: translate(-50%, -50%);
							   margin: 0 auto;
							   display: block;
							   height: 15px;
							   width: auto;
							   box-sizing: border-box;
							   text-align: center;
						   }
						   &.hide {
							   display: none;
						   }
					   }
					   &__dot {
						   & {
							   float: left;
							   margin: 0 calc(15px / 2);
							   width: 15px;
							   height: 15px;
							   border: calc(15px / 5) solid rgba(255, 255, 255, 0.8);
							   border-radius: 50%;
							   transform: scale(0);
							   box-sizing: border-box;
							   animation: spinner-animation 1000ms ease infinite 0ms;
						   }
						   &:nth-child(1) {
							   animation-delay: calc(300ms * 1);
						   }
						   &:nth-child(2) {
							   animation-delay: calc(300ms * 2);
						   }
						   &:nth-child(3) {
							   animation-delay: calc(300ms * 3);
						   }
					   }
				   }
.fade-enter-active,
.fade-leave-active {
	position: fixed;
	z-index: 1000;
	transition: opacity 0.2s;
}
.fade-enter,
.fade-leave-to {
	position: fixed;
	opacity: 0;
	z-index: 1000;
}
@keyframes spinner-animation {
	50% {
		transform: scale(1);
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
