<!-- ====================================================================== -->
<!-- ======================= BLOG PAGE ==================================== -->
<!-- ====================================================================== -->

<!-- ======================================================= -->
<!-- ======== KNOWN ISSUES ================================= -->
<!--

@LABEL: NEEDS WORK
@ISSUE: IMPLEMENT ACCESSIBILITY
@ISSUE: IMPLEMENT GRID
@ISSUE: IMPLEMENT CONTENT
@ISSUE: STYLING
@ISSUE: DECIDE THE FUTURE OF CLASS 'tlg-content-wrapper'

-->

<!-- ======================================================= -->
<!-- ======== HTML ========================================= -->
<template>
	<div class="tlg-page-blog">
		<header role="banner" class="tlg-main-navigation">
			<gen03-navigation
				:menuRoutes="menuRoutesArray"
				label="This leaf gatherer blog main navigation."
				orientation="horizontal"
			>
				<img
					class="tlg-site-logo-img"
					src="~static/img/logo/thisleafgatherer-logo.svg"
					alt="This Leaf Gatherer Home"
				/>
			</gen03-navigation>
		</header>
		<div id="main" class="tlg-main tlg-content-wrapper ">
			<article>
				<header>
					<heading h1="Blog" />
					<p>I am {{ this.$route.params.post }}</p>
				</header>
				<section>
					<p>
						This page is under construction. Have a look at my
						<frm06-hyper-button link="/catalogue" mode="anchor"
							>components catalog</frm06-hyper-button>
						for now.
					</p>
				</section>
			</article>
		</div>
	</div>
</template>

<!-- ======================================================= -->
<!-- ======== JS =========================================== -->
<script>
	// ===== IMPORT COMPONENTS ======================
	import Gen03Navigation from '~/components/general/gen03-navigation';
	import Gen01Heading from '~/components/general/gen01-heading';
	import Frm01HyperButton from '~/components/form/frm06-hyper-button';

	// ===== EXPORT ================================
	export default {
		name: 'Blog',
		components: {
			Gen03Navigation,
			Gen01Heading,
			Frm01HyperButton,
		},
		fetch() {
			// TODO The `fetch` method is used to fill the store before rendering the page
		},
		head() {
			// TODO Set Meta Tags for this Page
		},
		data() {
			return {
				menuRoutesArray: [
					{
						id: 0,
						path: '/',
						text: '',
						img: true
					},
					{
						id: 1,
						hash: '#tlg-gallery',
						text: 'Gallery'
					},
					{
						id: 2,
						hash: '#tlg-albums',
						text: 'Albums'
					},
					{
						id: 3,
						hash: '#tlg-about',
						text: 'About'
					},
					{
						id: 4,
						path: '/blog',
						text: 'Blog'
					}
				]
			};
		}
	};
</script>
