<template>
	<nuxt-child></nuxt-child>
</template>

<!-- ======================================================= -->
<!-- ======== JS =========================================== -->
<script>
	// ===== IMPORT JSON ============================
	import data from '~/static/data/photoStreamAdvancedData.json';

	// ===== EXPORT ================================
	export default {
		data() {
			return {};
		},
		created() {},
		methods: {}
	};
</script>
