<!-- ====================================================================== -->
<!-- ======================= HOME PAGE ==================================== -->
<!-- ====================================================================== -->

<!-- ======================================================= -->
<!-- ======== KNOWN ISSUES ================================= -->
<!--

@LABEL: NEEDS WORK
@ISSUE: IMPLEMENT BANNER
@ISSUE: IMPLEMENT ACCESSIBILITY
@ISSUE: STYLING
@ISSUE: MOVE NAV ARRAY TO STATIC
@ISSUE: IMPLEMENT ABOUT SECTION
@ISSUE: DECIDE THE FUTURE OF CLASS 'tlg-content-wrapper'

-->

<!-- ======================================================= -->
<!-- ======== HTML ========================================= -->
<template>
	<div class="tlg-page-homepage">
		<prj03-home-banner/>

		<gen03-navigation
			role="banner"
			class="tlg-content-wrapper tlg-m-navigation tlg-is-main-nav"
			:menuRoutes="menuRoutesArray"
			:propActiveHash="navHashScroll"
			:expanded="expanded"
			:menuCloseButton="true"
			menuCloseButtonCaption="Menu"
			label="Home page main navigation"
			orientation="horizontal"
			@toggleNavigation="navigationToggleButtonClick"
			@navHashClickEvent="navigationItemClicked"
		>
			<img
				class="tlg-site-logo-img"
				src="img/logo/thisleafgatherer-logo.svg"
				alt="This Leaf Gatherer Home"
			/>
		</gen03-navigation>

		<main class="tlg-content-wrapper tlg-main">
			<!-- Gallery section -->
			<prj01-image-section
				class="tlg-observable-el"
				id="tlg-gallery"
				ref="gallerySection"
				title="Gallery"
				:photoStreamTypeArr="getGallery"
				:requiredImgPath="imagePath"
			/>

			<!-- Albums section -->
			<prj01-image-section
				class="tlg-observable-el"
				id="tlg-albums"
				ref="albumsSection"
				title="Albums"
				:photoStreamTypeArr="getAlbums"
				:requiredImgPath="imagePath"
			/>

			<!-- About section -->
			<prj04-section-about id="tlg-about"/>
		</main>
	</div>
</template>

<!-- ======================================================= -->
<!-- ======== JS =========================================== -->
<script>
	// ===== IMPORT JSON ============================
	import photoStreamData from '~/static/data/photoStreamData.json';

	// ===== IMPORT COMPONENTS ======================
	import Gen01Heading from '~/components/general/gen01-heading';
	import Gen03Navigation from '~/components/general/gen03-navigation';

	import Prj01ImageSection from '~/components/project/prj01-image-section';
	import Prj03HomeBanner from '~/components/project/prj03-home-banner';
	import Prj02TheFooter from '~/components/project/prj02-the-footer';
	import Prj04SectionAbout from '~/components/project/prj04-section-about';

	//==== UTILITY ==================================
	import Scroller from 'vue-scrollto';

	// ===== EXPORT ================================
	export default {
		name: 'HomePage',
		components: {
			Gen01Heading,
			Gen03Navigation,
			Prj01ImageSection,
			Prj02TheFooter,
			Prj03HomeBanner,
			Prj04SectionAbout
		},
		fetch() {
			// TODO The `fetch` method is used to fill the store before rendering the page
		},
		head: {
			// TODO Set Meta Tags for this Page
			meta: [
				{ charset: 'utf-8' },
				{ name: 'viewport', content: 'width=device-width, initial-scale=1' }
			],
			link: [
				{
					rel: 'stylesheet',
					href: ''
				}
			]
		},
		data() {
			return {
				photoStreamArr: photoStreamData,
				imagePath: 'img/section-images/medium/',
				menuRoutesArray: [
					{
						id: 0,
						path: '/',
						text: 'Home',
						img: true
					},
					{
						id: 1,
						hash: '#tlg-gallery',
						text: 'Gallery'
					},
					{
						id: 2,
						hash: '#tlg-albums',
						text: 'Albums'
					},
					{
						id: 3,
						hash: '#tlg-about',
						text: 'About'
					},
					{
						id: 4,
						path: '/blog',
						text: 'Blog'
					}
				],
				observer: null,
				intersected: null,
				intersectionObserverOptions: {
					threshold: 0
				},
				scrolledToHash: '',
				expanded: false
			};
		},
		mounted() {
			if (process.browser) {
				if ('IntersectionObserver' in window) {
					this.observer = new IntersectionObserver(
						this.intersectionObserverCallback,
						this.intersectionObserverOptions
					);

					const observableEls = document.querySelectorAll(
						'.tlg-observable-el'
					);
					observableEls.forEach(el => {
						this.observer.observe(el);
					});
				}
			}
		},
		computed: {
			getAlbums() {
				return this.photoStreamArr.filter(item => item.photoStreamType === 'albums')
			},
			getGallery() {
				return this.photoStreamArr.filter(item => item.photoStreamType === 'gallery')
			},
			navHashScroll() {
				return this.scrolledToHash;
			}
		},
		methods: {
			/**
			 * Toggle mobile navigation
			 */
			navigationToggleButtonClick() {
				if (!this.expanded) {
					this.scrollNavToTop();
				}
				;
				this.expanded = !this.expanded;
			},

			/**
			 * On opening click scroll to top
			 */
			scrollNavToTop() {
				Scroller.scrollTo('#main-navigation');
			},

			/**
			 * Click on navigation item
			 * Closes the navigation
			 */
			navigationItemClicked(hash) {
				let elementId = hash.slice(1);
				//let scrollableContainer = document.getElementById(elementId);

				this.expanded = false;
				this.scrolledToHash = elementId;
				Scroller.scrollTo(hash, { offset: -55 }); // TODO proper offset calculation
			},

			/**
			 * Intersection observer
			 *
			 * @param entries
			 * @param observer
			 */
			intersectionObserverCallback(entries, observer) {
				entries.forEach(entry => {
					if (entry.isIntersecting) {
						console.log('in view is');
						console.log(entry.target.id);
						this.scrolledToHash = entry.target.id;
					}
				});
			}
		},
		destroyed() {
			if (process.browser) {
				this.observer.disconnect();
			}
		}
	};
</script>

<style>
</style>
