<!-- ====================================================================== -->
<!-- ======================= GEN05: MASONRY =============================== -->
<!-- ====================================================================== -->

<!-- ======================================================= -->
<!-- ======== KNOWN ISSUES ================================= -->
<!--

@LABEL: NEEDS WORK
@ISSUE: LAZY LOAD AND MASONRY CLASH
@ISSUE: IMPLEMENT LAZY LOAD
@ISSUE: IMPLEMENT MASONRY
@ISSUE: IMPLEMENT ACCESSIBILITY
@ISSUE: IMPLEMENT RESPONSIVITY

-->

<!-- ======================================================= -->
<!-- ======== HTML ========================================= -->
<template>

	<section class="tlg-component tlg-c-masonry" :class="classObject">
		<no-ssr>
			<gen06-light-gallery
				:images="photos"
				:index="index"
				:disable-scroll="true"
				@close="index = null"
			/>
		</no-ssr>

		<ul
			class="tlg-masonry-ul"
		>
			<li
				class="tlg-masonry-li"
				v-for="(thumb, thumbIndex) in thumbs"
				:key="thumbIndex"
				tabindex="0"
				@click="index = thumbIndex"
			>
				<img
					class="tlg-masonry-img tlg-lazy"
					src="https://picsum.photos/300/500"
					:data-src="thumb.dataSrc"
					:data-srcset="thumb.dataSrcSet"
					alt="alt"
				/>
			</li>
		</ul>
	</section>

</template>


<!-- ======================================================= -->
<!-- ======== JS =========================================== -->
<script>
	// ===== IMPORT JS FILES NO SSR ===============

	// ===== IMPORT COMPONENTS ======================
	import Gen06LightGallery from '~/components/general/gen06-light-gallery'

	// ===== EXPORT =================================
	export default {
		name: 'Gen05Masonry',
		components: {
			Gen06LightGallery
		},
		props: {
			thumbs: {
				default() {
					return []
				},
				type: Array
			},
			alt: {
				default: '',
				type: String
			},
			photos: {
				default: [],
				type: Array
			}
		},
		data() {
			return {
				// light gallery
				index: null
			}
		},
		watch: {},
		created() {
			if (process.browser) {
				document.addEventListener('DOMContentLoaded', () => {
					let lazyImages = [].slice.call(document.querySelectorAll('img.tlg-lazy'))

					if ('IntersectionObserver' in window) {
						let lazyImageObserver = new IntersectionObserver(function(entries, observer) {
							entries.forEach((entry) => {
								if (entry.isIntersecting) {
									let lazyImage = entry.target
									lazyImage.src = lazyImage.dataset.src
									lazyImage.srcset = lazyImage.dataset.srcset
									lazyImage.classList.remove('tlg-lazy')
									lazyImageObserver.unobserve(lazyImage)
								}
							})
						})

						lazyImages.forEach((lazyImage) => {
							lazyImageObserver.observe(lazyImage)
						})
					} else {
						console.log('=================== No support for Intersection Observer ===========')
						console.log('=== Please add polyfil ===')
					}
				})

			}
		},
		computed: {
			classObject() {
				return {}
			}
		},
		methods: {}

	}
</script>
