<!-- ====================================================================== -->
<!-- ======================= GEN03: NAVIGATION ============================ -->
<!-- ====================================================================== -->

<!-- ======================================================= -->
<!-- ======== KNOWN ISSUES ================================= -->
<!--

@LABEL: NEEDS WORK
@ISSUE: IMPLEMENT ACCESSIBILITY
@ISSUE: STYLING

-->

<!-- ======================================================= -->
<!-- ======== HTML ========================================= -->
<template>
	<nav
		:aria-label="label"
		class="tlg-component tlg-c-navigation"
		:class="classNavObject"
		:id="id"
	>
		<frm06-hyper-button
			v-if="menuCloseButton"
			mode="button"
			type="internal"
			class="tlg-navigation-button-toggle"
			title="Navigation toggle button"
			@buttonClickEvent="navigationToggleButtonClickEmit"
		>
			{{ menuCloseButtonCaption }}
		</frm06-hyper-button>

		<ul role="menu" class="tlg-navigation-list">
			<li
				role="menuitem"
				v-for="route in menuRoutes"
				:key="route.id"
				:class="classItemObject(route, 'main')"
				@click="navigationListItemClickEmit(route.text)"
			>
				<!-- Route to path -->
				<template v-if="route.path">
					<nuxt-link :to="`${route.path}`">
						<span v-if="!route.img" class="tlg-text">
							{{ route.text }}
						</span>
						<slot v-if="route.img"></slot>
					</nuxt-link>
				</template>

				<!-- Route to hash -->
				<template v-else-if="route.hash">
					<frm06-hyper-button
						mode="anchor"
						:link="`${route.hash}`"
						:title="`${route.title}`"
						:class="
							propActiveHash === route.hash.slice(1)
								? 'tlg-exact-active-link'
								: null
						"
						@buttonClickEvent="navHashClickEmit(route.hash)"
					>
						{{ route.text }}
					</frm06-hyper-button>
				</template>

				<!-- Custom -->
				<template v-else-if="route.custom">
					<span v-html="route.custom"></span>
				</template>

				<!-- Programmatic navigation -->
				<template v-else-if="route.prog">
					<frm06-hyper-button
						mode="button"
						type="internal"
						:title="`${route.title}`"
						@buttonClickEvent="navProgClickEmit(route.prog)"
					>
						{{ route.text }}
					</frm06-hyper-button>
				</template>



				<!-- Start Sub-navigation -->
				<template v-else-if="route.subnavigation">
					<span class="tlg-text">{{ route.text }}</span>
					<ul class="tlg-navigation-subnavigation">
						<li
							v-for="(subroute, index) in route.menuSubRoutes"
							:key="index"
							:class="classItemObject(subroute, 'sub')"
						>
							<!-- Route to path -->
							<template v-if="subroute.path">
								<nuxt-link :to="`${subroute.path}`">
									<span class="tlg-text">
										{{ subroute.text }}
									</span>
								</nuxt-link>
							</template>

							<!-- Route to hash -->
							<template v-else-if="subroute.hash">
								<frm06-hyper-button
									mode="anchor"
									:link="`${subroute.hash}`"
									:title="`${subroute.title}`"
									:class="
										propActiveHash ===
										subroute.hash.slice(1)
											? 'tlg-exact-active-link'
											: null
									"
									@click="navHashClickEmit(subroute.hash)"
								>
									<span class="tlg-text">
										{{ subroute.text }}
									</span>
								</frm06-hyper-button>
							</template>

							<!-- Programmatic navigation -->
							<template v-else-if="subroute.prog">
								<frm06-hyper-button
									mode="button"
									type="internal"
									:title="`${subroute.title}`"
									@buttonClickEvent="navProgClickEmit(subroute.prog)"
								>
									{{ subroute.text }}
								</frm06-hyper-button>
							</template>

						</li>
					</ul>
				</template>
				<!-- End Sub-navigation -->
			</li>
		</ul>
	</nav>
</template>

<!-- ======================================================= -->
<!-- ======== JS =========================================== -->
<script>
	// ===== OPTIONS ================================
	const ORIENTATION_PROP_OPTIONS = ['horizontal', 'vertical'];

	// ===== IMPORT CAT COMPONENTS ==================
	import Frm06HyperButton from '~/components/form/frm06-hyper-button';

	// ===== EXPORT =================================
	export default {
		name: 'Gen03Navigation',
		components: { Frm06HyperButton },
		props: {
			menuRoutes: {
				required: true,
				type: Array
			},
			label: {
				required: true,
				type: String
			},
			propActiveHash: {
				default: '',
				type: String
			},
			menuCloseButton: {
				default: false,
				type: Boolean
			},
			menuCloseButtonCaption: {
				default: 'Close',
				type: String
			},
			expanded: {
				default: false,
				type: Boolean
			},
			orientation: {
				default: 'vertical',
				type: String,
				validator: value => {
					return ORIENTATION_PROP_OPTIONS.includes(value);
				}
			},
			id: {
				default: null,
				type: String
			},
		},
		computed: {
			classNavObject() {
				return {
					'tlg-is-collapsed': !this.expanded,
					'tlg-is-expanded': this.expanded,
					[`tlg-is-${this.orientation}`]: this.orientation
				};
			}
		},
		methods: {
			classItemObject(route, level) {
				return {
					'tlg-navigation-img-item': route.img,
					'tlg-has-subnavigation': route.subnavigation,
					[`tlg-navigation-${level}-item`]: level,
					[`tlg-navigation-item-${route.id}`]: route.id,
				};
			},

			/**
			 * Navigation anchor link click event.
			 *
			 */
			navHashClickEmit(hash) {
				this.$emit('navHashClickEvent', hash);
			},

			/**
			 * Navigation programmatic click event.
			 *
			 */
			navProgClickEmit(prog) {
				this.$emit(prog);
			},

			/**
			 * Navigation close button click event.
			 *
			 */
			navigationToggleButtonClickEmit() {
				this.$emit('toggleNavigation');
			},

			/**
			 * Navigation list item click event.
			 *
			 */
			navigationListItemClickEmit(item) {
				this.$emit(`listNavItem${item}Event`);
			}
		}
	};
</script>
