<!-- ====================================================================== -->
<!-- ======================= GEN08: TAB PANEL ============================= -->
<!-- ====================================================================== -->

<!-- ======================================================= -->
<!-- ======== KNOWN ISSUES ================================= -->
<!--

@LABEL: NEEDS WORK

-->

<!-- ======================================================= -->
<!-- ======== HTML ========================================= -->
<template>
	<div class="tlg-component tlg-c-tab-panel" :id="id">
		<nav class="tlg-b-controls" tabindex="0">
			<ul class="tlg-control-list" role="tablist">
				<li
					v-for="(tab, index) in tabs"
					:key="`tab-${tab.id}`"
					:id="`tab-${tab.id}`"
					:class="[
						{
							'tlg-is-active': activeTabId === tab.id,
							'tlg-is-disabled': tab.disabled
						},
						tab.customClass,
						`tlg-${tab.id}`
					]"
					class="tlg-b-control-item"
					role="tab"
					:aria-controls="`panel-${tab.id}`"
					:aria-selected="activeTabId === tab.id"
				>
					<frm06-hyper-button
						mode="button"
						type="internal"
						class="tlg-tab-switch"
						:title="`Tab ${index + 1}: ${tab.caption}`"
						@buttonClickEvent="tabClickEmit(tab.id, index)"
						:tabindex="-1"
						>{{ tab.caption }}
					</frm06-hyper-button>
				</li>
			</ul>
		</nav>
		<section class="tlg-b-content-tabs">
			<slot></slot>
		</section>
	</div>
</template>

<!-- ======================================================= -->
<!-- ======== JS =========================================== -->
<script>
	// ===== IMPORT =================================
	import Frm06HyperButton from '~/components/form/frm06-hyper-button';

	// ===== EXPORT =================================

	export default {
		name: 'gen1008TabPanel',
		components: {
			Frm06HyperButton
		},
		props: {
			value: {
				type: String,
				required: true
			},
			tabs: {
				type: Array,
				required: true
			},
			id: {
				default: null,
				type: String
			}
		},
		data() {
			return {
				activeTabId: this.value,
				activeTabIndex: this.getTabIndex(this.tabs, 'id', this.value),
				arrowRight: 39,
				arrowLeft: 37
			};
		},
		watch: {
			/**
			 * When tab is changed from outside - no tab panel click event fired - set the new active tab.
			 */
			value(value) {
				let index = this.getTabIndex(this.tabs, 'id', value);
				this.tabChange(value, index);
			}
		},
		mounted() {
			this.$el.addEventListener('keyup', this.tabKeyboardNav);
		},
		methods: {
			/**
			 * Change the active tab and emit change event.
			 *
			 * @param id {String}
			 * @param newIndex {Number}
			 */
			tabChange(id, newIndex) {
				this.$emit('input', id);
				this.$emit('tabChangeEvent', id);

				if (
					this.activeTabId !== id &&
					newIndex > -1 &&
					newIndex < this.tabs.length
				) {
					this.activeTabId = id;
					this.activeTabIndex = newIndex;
				}
			},
			/**
			 * Tab click listener, emit input event and change active tab.
			 *
			 * @param id {String}
			 * @param index {Number}
			 */
			tabClickEmit(id, index) {
				this.$emit('tabClickEvent', id);
				this.tabChange(id, index);
			},

			/**
			 * Handling keyboard tab navigation
			 */
			tabKeyboardNav(e) {
				if (e.which === this.arrowLeft || e.which === this.arrowRight) {
					let currentIndex = this.activeTabIndex;
					let newIndex;
					let newId;
					let key = e.which;

					if (key === this.arrowLeft && currentIndex > 0) {
						newIndex = currentIndex - 1;
						newId = this.tabs[newIndex].id;
						this.$emit('keyUpLeft', newId);
						this.tabChange(newId, newIndex);
					} else if (
						key === this.arrowRight &&
						currentIndex < this.tabs.length - 1
					) {
						newIndex = currentIndex + 1;
						newId = this.tabs[newIndex].id;
						this.$emit('keyUpRight', newId);
						this.tabChange(newId, newIndex);
					}
				}
			},

			/**
			 * Get active tab's index
			 *
			 * @param array {Array}
			 * @param attr {String}
			 * @param value {String}
			 * @returns {number}
			 */
			getTabIndex(array, attr, value) {
				for (let i = 0; i < array.length; i += 1) {
					if (array[i][attr] === value) {
						return i;
					}
				}
				return -1;
			}
		},
		destroyed() {
			this.$el.removeEventListener('keyup', this.tabKeyboardNav);
		}
	};
</script>

