<!-- ====================================================================== -->
<!-- ======================= GEN08: TAB PANEL ITEM ======================== -->
<!-- ====================================================================== -->

<!-- ======================================================= -->
<!-- ======== KNOWN ISSUES ================================= -->
<!--

@LABEL: NEEDS WORK

-->

<!-- ======================================================= -->
<!-- ======== HTML ========================================= -->
<template>
    <div class="tlg-tab-content"
         :id="`panel-${id}`"
         :class="classObject"
         role="tabpanel"
         :aria-labelledby="`tab-${id}`"
         :aria-hidden="!active === id"
    >
        <slot></slot>
    </div>

</template>

<!-- ======================================================= -->
<!-- ======== JS =========================================== -->
<script>
    //=== EXPORT ======================================//
    //=================================================//

    export default {
        name: 'gen1008TabPanelItem',
        props: {
            'active': {
                type: String,
                required: true
            },
            'id': {
                default: null,
                type: String
            },
        },
        computed: {
            classObject() {
                return {
                    'tlg-is-active': this.active === this.id
                }
            },
        },
    }
</script>
