<!-- ====================================================================== -->
<!-- ======================= GEN01: HEADING =============================== -->
<!-- ====================================================================== -->

<!-- ======================================================= -->
<!-- ======== KNOWN ISSUES ================================= -->
<!--

@LABEL: NEEDS WORK
@ISSUE: IMPLEMENT ACCESSIBILITY

-->

<!-- ======================================================= -->
<!-- ======== HTML ========================================= -->
<template>
	<!-- ========= H1 ====================================== -->
	<h1 v-if="h1" class="tlg-component tlg-c-heading">
		<span class="tlg-h1">{{ h1 }}</span>
	</h1>

	<!-- ========= H2 ====================================== -->
	<h2 v-else-if="h2" class="tlg-component tlg-c-heading">
		<span class="tlg-h2">{{ h2 }}</span>
	</h2>

	<!-- ========= H3 ====================================== -->
	<h3 v-else-if="h3" class="tlg-component tlg-c-heading">
		<span class="tlg-h3">{{ h3 }}</span>
	</h3>

	<!-- ========= H4 ====================================== -->
	<h4 v-else-if="h4" class="tlg-component tlg-c-heading">
		<span class="tlg-h4">{{ h4 }}</span>
	</h4>

	<!-- ========= H5 ====================================== -->
	<h5 v-else-if="h5" class="tlg-component tlg-c-heading">
		<span class="tlg-h5">{{ h5 }}</span>
	</h5>

	<!-- ========= H6 ====================================== -->
	<h6 v-else-if="h6" class="tlg-component tlg-c-heading">
		<span class="tlg-h6">{{ h6 }}</span>
	</h6>
</template>

<!-- ======================================================= -->
<!-- ======== JS =========================================== -->
<script>
	export default {
		name: 'Gen01Heading',
		props: {
			h1: {
				default: null,
				type: String
			},
			h2: {
				default: null,
				type: String
			},
			h3: {
				default: null,
				type: String
			},
			h4: {
				default: null,
				type: String
			},
			h5: {
				default: null,
				type: String
			},
			h6: {
				default: null,
				type: String
			}
		}
	};
</script>
