// ==================================================================
// ==================== PHOTO STREAM PAGE ===========================
// ==================================================================
/*

@LABEL: NEEDS WORK
@ISSUE: RESPONSIVITY

*/

// =========================================================
// ====== GENERAL ==========================================
.tlg-page-photo-stream {
	margin-top: 55px; // TODO try sticky for nav, this is naughty

	.tlg-page-photo-stream-header {
		font-family: $tlg-font-decorative;
		text-align: center;
	}
}

// ===== LIST ==========================
