// ==================================================================
// ==================== MAIN NAVIGATION RESPONSIVE ==================
// ==================================================================

// ========================================================
// ========== RESPONSIVE (TABLET - 100%) ==================
@include mx-media-query(tablet) {
	.tlg-main-navigation {
		.tlg-navigation-button-toggle {
			display: none;
		}

		.tlg-navigation-list {
			flex-direction: row;
			justify-content: space-between;
		}

		&.tlg-is-collapsed {
			li {
				&:not(.tlg-navigation-img-item) {
					transform: none;
				}
			}
		}

		li {
			&:not(.tlg-navigation-img-item) {
				position: static;
				padding-left: 0.2vw;

				a {
					justify-content: center;
					padding: 0;
					color: $tlg-base-colour-dark;
					font-size: $main-navigation-font-size-desktop;

					&:hover,
					&:focus {
						background-color: $main-navigation-bg-colour-hover;
						color: $tlg-base-colour-white;
					}

					&:active,
					&.tlg-exact-active-link {
						background-color: $main-navigation-bg-colour-active;
						color: $tlg-base-colour-white;

						&::before,
						&::after {
							content: none;
						}
					}
				}
			}
		}
	}
}

