// ==================================================================
// ==================== MAIN NAVIGATION =============================
// ==================================================================
/*

@LABEL: NEEDS WORK
@ISSUE: IMPLEMENT TEXT FOR MENU TOGGLE BUTTON
@ISSUE: IMPLEMENT PROPER POSITIONING FOR TOGGLE BUTTON

*/

.tlg-main-navigation {
	position: sticky;
	top: 0;
	background: $main-navigation-bg-colour; // TODO transparent on scroll down
	z-index: map-get($zindex, navigation);

	// =========================================================
	// ====== MENU TOGGLE BUTTON ===============================
	.tlg-navigation-button-toggle {
		position: absolute;
		top: 20px;
		right: 15px; // TODO var padding
		width: 30px;
		height: 20px;
		z-index: map-get($zindex, navigation);

		.tlg-text {
			font-size: 12px;
			text-indent: -9999px; // TODO style text properly under the button
		}

		span {
			position: absolute;
			height: $main-navigation-toggle-btn-ico-item-height;
			width: 100%;
			top: $main-navigation-toggle-btn-ico-item-top;
			left: 0;
			background: #000;
			transition: all 0.5s cubic-bezier(0, 0.275, 0.125, 1);

			&::before, &::after {
				content: '';
				position: absolute;
				top: -1 * $main-navigation-toggle-btn-ico-item-top;
				left: 0;
				height: $main-navigation-toggle-btn-ico-item-height;
				width: 100%;
				background: #000;
				transition: all 0.5s cubic-bezier(0, 0.275, 0.125, 1);
			}

			&:after {
				top: $main-navigation-toggle-btn-ico-item-top;
			}
		}
	}

	// =========================================================
	// ====== MENU NAVIGATION LIST =============================
	.tlg-navigation-list {
		flex-direction: column;
		position: relative;
	}

	li {
		width: 100%;

		&:not(.tlg-navigation-img-item) {
			position: absolute;
			left: 0;
			right: 0;
			overflow: hidden;
			transition: transform 0.3s ease-out;
			will-change: transform;

			&:nth-child(odd) {
				transform-origin: left;
			}

			&:nth-child(even) {
				transform-origin: right;
			}

			&:nth-child(2) {
				top: $main-navigation-vertical-item-height;
			}

			&:nth-child(3) {
				top: 2 * $main-navigation-vertical-item-height;
			}

			&:nth-child(4) {
				top: 3 * $main-navigation-vertical-item-height;
			}

			&:nth-child(5) {
				top: 4 * $main-navigation-vertical-item-height;
			}

			a {
				padding: 15px 0;
				color: $tlg-base-colour-dark;
				font-size: $main-navigation-font-size;
				background: rgba($main-navigation-bg-colour, .8);
				transition: all 0.5s ease;

				.tlg-text {
					margin: 0 auto;
				}

				&:hover,
				&:focus {
					background: $main-navigation-bg-colour;
					color: $main-navigation-txt-colour-active;
				}

				&:active,
				&.tlg-exact-active-link {
					color: $main-navigation-txt-colour-active;

					&::before,
					&::after {
						content: '';
						position: absolute;
						top: 0;
						bottom: 0;
						width: 10px;
						background: $main-navigation-bg-colour-active;
					}

					&::before {
						left: 10vw;
					}

					&::after {
						right: 10vw;
					}
				}
			}
		}
	}

	a {
		display: flex;
		align-items: flex-end;
		width: 100%;
		height: 100%;
		text-decoration: none;
	}

	// SVG LOGO
	.tlg-navigation-img-item {
		flex: 1 0 50%;

		a {
			justify-content: left;
			max-width: $main-navigation-site-logo-img-width;

			&:focus {
				.tlg-site-logo-img {
					// TODO focus a resizes image
					border: 2px dashed lighten($tlg-base-colour-dark, 20%);
					border-radius: 5px;
				}
			}

			&:hover {
				// TODO text-decoration: underline; need to be faked

				.tlg-site-logo-img {
					filter: invert(0.4);
				}
			}
		}

		.tlg-site-logo-img {
			max-width: $main-navigation-site-logo-img-width;
			transition: all 0.5s ease;
		}
	}


	// =========================================================
	// ====== MODIFIERS ========================================
	&.tlg-is-expanded {
		.tlg-navigation-button-toggle {
			span {
				background: transparent;

				&:before {
					transform: translateY($main-navigation-toggle-btn-ico-item-top) translateX(1px) rotate($main-navigation-toggle-btn-ico-item-rotate);
				}

				&:after {
					transform: translateY(-1 * $main-navigation-toggle-btn-ico-item-top) translateX(1px) rotate(-1 * $main-navigation-toggle-btn-ico-item-rotate);
				}
			}
		}
	}

	&.tlg-is-collapsed {
		li {
			&:not(.tlg-navigation-img-item) {
				transform: scaleX(0);
			}
		}
	}
}
