// ==================================================================
// ==================== PHOTO STREAM NAVIGATION =====================
// ==================================================================
/*

@LABEL: NEEDS WORK
@ISSUE: IMPLEMENT TEXT FOR MENU TOGGLE BUTTON
@ISSUE: IMPLEMENT PROPER POSITIONING FOR TOGGLE BUTTON

*/

.tlg-photo-stream-navigation {
	position: fixed;
	top: 0;
	background: $tlg-photo-stream-navigation-bg-colour; // TODO transparent on scroll down
	z-index: map-get($zindex, navigation);

	// =========================================================
	// ====== MENU TOGGLE BUTTON ===============================
	.tlg-navigation-button-toggle {
		position: absolute;
		top: 20px;
		right: 15px; // TODO var padding
		width: 30px;
		height: 20px;
		z-index: map-get($zindex, navigation);

		.tlg-text {
			font-size: 12px;
			text-indent: -9999px; // TODO style text properly under the button
		}

		span {
			position: absolute;
			height: $tlg-photo-stream-navigation-toggle-btn-ico-item-height;
			width: 100%;
			top: $tlg-photo-stream-navigation-toggle-btn-ico-item-top;
			left: 0;
			background: #000;
			transition: all 0.5s cubic-bezier(0, 0.275, 0.125, 1);

			&::before, &::after {
				content: '';
				position: absolute;
				top: -1 * $tlg-photo-stream-navigation-toggle-btn-ico-item-top;
				left: 0;
				height: $tlg-photo-stream-navigation-toggle-btn-ico-item-height;
				width: 100%;
				background: #000;
				transition: all 0.5s cubic-bezier(0, 0.275, 0.125, 1);
			}

			&:after {
				top: $tlg-photo-stream-navigation-toggle-btn-ico-item-top;
			}
		}
	}

	// =========================================================
	// ====== MENU NAVIGATION LIST =============================
	.tlg-navigation-list {
		flex-direction: column;
		position: relative;
		height: 0; // probably solved the translateX issue
		overflow: visible;
	}

	.tlg-navigation-main-item {
		width: 100%;

		&:not(.tlg-navigation-img-item) {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			background: rgba($tlg-photo-stream-navigation-bg-colour, .8);
			z-index: map-get($zindex, navigation);
			transition: all 0.3s ease-in-out;
			will-change: transform;

			&:hover,
			&:focus {
				background: $tlg-photo-stream-navigation-bg-colour;
				color: $tlg-photo-stream-navigation-txt-colour-active;
			}

			&:nth-child(odd) {
				transform: translateX(100%);
			}

			&:nth-child(even) {
				transform: translateX(-100%);
			}


			a,
			.tlg-c-hyper-button.tlg-is-button.tlg-is-internal,
			> span {
				padding: 15px 0; // FIXME padding only needed for anchor, find a workaround
				color: $tlg-base-colour-dark;
				font-size: $tlg-photo-stream-navigation-font-size;
				font-weight: bold;
				transition: all 0.5s ease;
				cursor: pointer;

				.tlg-text,
				&.tlg-text {
					margin: 0 auto;
				}

				&:active,
				&.tlg-exact-active-link {
					color: $tlg-photo-stream-navigation-txt-colour-active;

					&::before,
					&::after {
						content: '';
						position: absolute;
						top: 0;
						bottom: 0;
						width: 10px;
						background: $tlg-photo-stream-navigation-bg-colour-active;
					}

					&::before {
						left: 10vw;
					}

					&::after {
						right: 10vw;
					}
				}
			}
		}

		//=== HAS SUBNAVIGATION
		&.tlg-has-subnavigation {
			flex-direction: column;
		}

		//=== SECOND LEVEL
		.tlg-navigation-subnavigation {
			display: none;
			justify-content: space-around;
			width: 100%;

			.tlg-navigation-sub-item {
				.tlg-text {
					font-weight: normal;
				}
			}
		}
	}

	a,
	button {
		display: flex;
		align-items: flex-end;
		width: 100%;
		height: 100%;
		text-decoration: none;
	}

	// SVG LOGO
	.tlg-navigation-img-item {
		flex: 1 0 50%;

		a {
			justify-content: left;
			max-width: $tlg-photo-stream-navigation-site-logo-img-width;

			&:focus {
				.tlg-site-logo-img {
					// TODO focus a resizes image
					border: 2px dashed lighten($tlg-base-colour-dark, 20%);
					border-radius: 5px;
				}
			}

			&:hover {
				// TODO text-decoration: underline; need to be faked

				.tlg-site-logo-img {
					filter: invert(0.4);
				}
			}
		}

		.tlg-site-logo-img {
			max-width: $tlg-photo-stream-navigation-site-logo-img-width;
			transition: all 0.5s ease;
		}
	}


	// =========================================================
	// ====== MODIFIERS ========================================
	&.tlg-is-expanded {
		.tlg-navigation-button-toggle {
			span {
				background: transparent;

				&:before {
					transform: translateY($tlg-photo-stream-navigation-toggle-btn-ico-item-top) translateX(1px) rotate($tlg-photo-stream-navigation-toggle-btn-ico-item-rotate);
				}

				&:after {
					transform: translateY(-1 * $tlg-photo-stream-navigation-toggle-btn-ico-item-top) translateX(1px) rotate(-1 * $tlg-photo-stream-navigation-toggle-btn-ico-item-rotate);
				}
			}
		}


		.tlg-navigation-main-item {
			&:not(.tlg-navigation-img-item) {
				transform: translateX(0);
			}
		}
	}

	&.tlg-is-collapsed {
		.tlg-navigation-main-item {
			&:not(.tlg-navigation-img-item) {
				//transform: scale(0);
			}
		}
	}

	//=== Albums clicked
	&.tlg-is-nav-albums {
		.tlg-navigation-item-albums-main {
			.tlg-navigation-subnavigation {
				display: flex;
			}
		}
	}

	//=== Gallery clicked
	&.tlg-is-nav-gallery {
		.tlg-navigation-item-gallery-main {
			.tlg-navigation-subnavigation {
				display: flex;
			}
		}
	}
}
