// ==================================================================
// ==================== MAIN NAVIGATION RESPONSIVE ==================
// ==================================================================

// ========================================================
// ========== RESPONSIVE (TABLET - 100%) ==================
@include mx-media-query(tablet) {
	.tlg-photo-stream-navigation {
		.tlg-navigation-button-toggle {
			display: none;
		}

		.tlg-navigation-list {
			flex-direction: row;
			justify-content: space-between;
		}

		&.tlg-is-collapsed {
			.tlg-navigation-main-item {
				&:not(.tlg-navigation-img-item) {
					transform: none;
				}
			}
		}

		.tlg-navigation-main-item {
			&:not(.tlg-navigation-img-item) {
				position: static;
				padding-left: 0.2vw;

				a,
				button { // TODO maked button     position: absolute; left: 0; bottom: 0;     position: absolute;
					/* top: 0; */
					left: 0;
					bottom: 0;
					right: 0;right: 0;
					justify-content: center;
					padding: 0;
					color: $tlg-base-colour-dark;
					font-size: $tlg-photo-stream-navigation-font-size-desktop;

					&:hover,
					&:focus {
						background-color: $tlg-photo-stream-navigation-bg-colour-hover;
						color: $tlg-base-colour-white;
					}

					&:active,
					&.tlg-exact-active-link {
						background-color: $tlg-photo-stream-navigation-bg-colour-active;
						color: $tlg-base-colour-white;

						&::before,
						&::after {
							content: none;
						}
					}
				}
			}
		}
	}
}

// ========================================================
// ========== RESPONSIVE (1440px - 100%) ==================
@include mx-media-query(band) {
	.tlg-photo-stream-navigation {
		left: 50%;
		transform: translateX(-50%);
	}
}

