// ========================================================================= //
// ========================= MAIN NAVIGATION VARIABLES ===================== //
// ========================================================================= //

// =============================================================== //
// ========== DIMENSIONS ========================================= //
$tlg-photo-stream-navigation-site-logo-img-width:           $tlg-base-main-logo-max-width;

// =============================================================== //
// ========== FONT =============================================== //
$tlg-photo-stream-navigation-font-size:						$tlg-large-font-size;
$tlg-photo-stream-navigation-font-size-desktop:				$tlg-large-font-size-desktop;

// =============================================================== //
// ========== TOGGLE BUTTON ====================================== //
$tlg-photo-stream-navigation-toggle-btn-ico-item-top:		6px;
$tlg-photo-stream-navigation-toggle-btn-ico-item-height:	2px;
$tlg-photo-stream-navigation-toggle-btn-ico-item-rotate:	45deg;


// =============================================================== //
// ========== RESPONSIVE ========================================= //
$tlg-photo-stream-navigation-vertical-item-height:			53px;


// =============================================================== //
// ========== COLOURS ============================================ //
$tlg-photo-stream-navigation-bg-colour:						$tlg-base-background-light-colour;
$tlg-photo-stream-navigation-bg-colour-active:				$tlg-base-colour-brand;
$tlg-photo-stream-navigation-txt-colour-active:				$tlg-base-colour-brand;
$tlg-photo-stream-navigation-bg-colour-hover:				$tlg-base-colour-brand-light;
