<!-- ====================================================================== -->
<!-- ======================= CAT00: TYPOGRAPHY ============================ -->
<!-- ====================================================================== -->

<!-- ======================================================= -->
<!-- ======== KNOWN ISSUES ================================= -->
<!--

@LABEL: NEEDS WORK
@ISSUE: ADD CONTENT

-->

<!-- ======================================================= -->
<!-- ======== HTML ========================================= -->
<template>
	<cat01-cat-article catArticleHeading="CAT00: Typography">
		<cat02-cat-section catSectionHeading="Abstract"></cat02-cat-section>

		<cat02-cat-section catSectionHeading="API"></cat02-cat-section>

		<cat02-cat-section catSectionHeading="Implementation">
			<Cat03ComponentExample componentExampleHeading="Heading level 1">
				<header>
					<h1>Star wars ipsum level 1 heading</h1>
				</header>

				<p>
					Lucas ipsum dolor sit amet grievous hutt jabba obi-wan padmé
					mustafar palpatine dantooine coruscant moff. Solo windu
					skywalker moff mustafar. Alderaan solo secura hutt
					mandalore. Dantooine coruscant darth luke fett dooku.
				</p>
			</Cat03ComponentExample>

			<Cat03ComponentExample
				componentExampleHeading="Heading level 1 with subheading"
			>
				<header>
					<h1>Star wars ipsum level 1 heading</h1>
					<p>With optional subheading</p>
				</header>

				<p>
					Lucas ipsum dolor sit amet grievous hutt jabba obi-wan padmé
					mustafar palpatine dantooine coruscant moff. Solo windu
					skywalker moff mustafar. Alderaan solo secura hutt
					mandalore. Dantooine coruscant darth luke fett dooku.
				</p>
			</Cat03ComponentExample>

			<Cat03ComponentExample componentExampleHeading="Heading level 2">
				<h2>Star wars ipsum level 2 heading</h2>
				<p>
					Lucas ipsum dolor sit amet grievous hutt jabba obi-wan padmé
					mustafar palpatine dantooine coruscant moff. Solo windu
					skywalker moff mustafar. Alderaan solo secura hutt
					mandalore. Dantooine coruscant darth luke fett dooku.
				</p>
			</Cat03ComponentExample>

			<Cat03ComponentExample componentExampleHeading="Heading level 3">
				<h3>Star wars ipsum level 3 heading</h3>
				<p>
					Lucas ipsum dolor sit amet grievous hutt jabba obi-wan padmé
					mustafar palpatine dantooine coruscant moff. Solo windu
					skywalker moff mustafar. Alderaan solo secura hutt
					mandalore. Dantooine coruscant darth luke fett dooku.
				</p>
			</Cat03ComponentExample>

			<Cat03ComponentExample componentExampleHeading="Heading level 4">
				<h4>Star wars ipsum level 4 heading</h4>
				<p>
					Lucas ipsum dolor sit amet grievous hutt jabba obi-wan padmé
					mustafar palpatine dantooine coruscant moff. Solo windu
					skywalker moff mustafar. Alderaan solo secura hutt
					mandalore. Dantooine coruscant darth luke fett dooku.
				</p>
			</Cat03ComponentExample>

			<Cat03ComponentExample componentExampleHeading="Heading level 5">
				<h5>Star wars ipsum level 5 heading</h5>
				<p>
					Lucas ipsum dolor sit amet grievous hutt jabba obi-wan padmé
					mustafar palpatine dantooine coruscant moff. Solo windu
					skywalker moff mustafar. Alderaan solo secura hutt
					mandalore. Dantooine coruscant darth luke fett dooku.
				</p>
			</Cat03ComponentExample>

			<Cat03ComponentExample componentExampleHeading="Heading level 6">
				<h6>Star wars ipsum level 6 heading</h6>
				<p>
					Lucas ipsum dolor sit amet grievous hutt jabba obi-wan padmé
					mustafar palpatine dantooine coruscant moff. Solo windu
					skywalker moff mustafar. Alderaan solo secura hutt
					mandalore. Dantooine coruscant darth luke fett dooku.
				</p>
			</Cat03ComponentExample>

			<Cat03ComponentExample componentExampleHeading="Paragraphs in a block">
				<p>
					Lucas ipsum dolor sit amet grievous hutt jabba obi-wan padmé
					mustafar palpatine dantooine coruscant moff. Solo windu
					skywalker moff mustafar. Alderaan solo secura hutt
					mandalore. Dantooine coruscant darth luke fett dooku.
				</p>
				<p>
					Qui-gon coruscant obi-wan darth solo thrawn darth fett.
					Darth twi'lek sith ben cade anakin yavin. Skywalker darth
					yavin maul jade dagobah bothan maul. Vader bothan utapau
					antilles. Sidious k-3po padmé padmé kenobi dagobah. Amidala
					r2-d2 grievous mandalore amidala skywalker darth sith hoth.
				</p>
			</Cat03ComponentExample>
		</cat02-cat-section>
	</cat01-cat-article>
</template>

<!-- ======================================================= -->
<!-- ======== JS =========================================== -->
<script>
	// ===== IMPORT CATALOGUE COMPONENTS ===========
	import Cat01CatArticle from '~/components/catalogue/cat01-cat-article';
	import Cat02CatSection from '~/components/catalogue/cat02-cat-section';
	import Cat03ComponentExample from '~/components/catalogue/cat03-component-example';

	// ===== EXPORT ================================
	export default {
		name: 'Cat00Typography',
		layout: 'catalogue',
		components: {
			Cat01CatArticle,
			Cat02CatSection,
			Cat03ComponentExample
		}
	};
</script>
