<!-- ====================================================================== -->
<!-- ======================= CATALOGUE INTRODUCTION PAGE ================== -->
<!-- ====================================================================== -->

<!-- ======================================================= -->
<!-- ======== KNOWN ISSUES ================================= -->
<!--

@LABEL: NEEDS WORK
@ISSUE: IMPLEMENT CONTENT
@ISSUE: DECIDE THE FUTURE OF CLASS 'tlg-content-wrapper'

-->

<!-- ======================================================= -->
<!-- ======== HTML ========================================= -->
<template>
	<cat01-cat-article catArticleHeading="Introduction">
		<cat02-cat-section catSectionHeading="A bit about these pagas">
			<p class="tlg-cat-section-important">This catalogue, same as the whole thisleafgatherer.com site is an <strong>Alpha release</strong>, solemn purpose being in-house testing.</p>
			<p>Welcome to my sandbox catalogue of Vue (or rather Nuxt) components. These pages are far from complete, features and content are lacking, layout is still in development, responsivity is not fully implemented. The whole site is under construction, please keep checking in for updates.</p>
		</cat02-cat-section>
		<cat02-cat-section catSectionHeading="Why Vue.js"></cat02-cat-section>
		<cat02-cat-section catSectionHeading="And why Nuxt.js"></cat02-cat-section>
		<cat02-cat-section catSectionHeading="How to use the catalogue"></cat02-cat-section>
	</cat01-cat-article>
</template>

<!-- ======================================================= -->
<!-- ======== JS =========================================== -->
<script>
	// ===== IMPORT CATALOGUE COMPONENTS ===========
	import Cat01CatArticle from '~/components/catalogue/cat01-cat-article';
	import Cat02CatSection from '~/components/catalogue/cat02-cat-section';
	import Cat03ComponentExample from '~/components/catalogue/cat03-component-example';

	// ===== EXPORT ================================
	export default {
		name: 'CatalogueIntroPage',
		layout: 'catalogue',
		components: {
			Cat01CatArticle,
			Cat02CatSection,
			Cat03ComponentExample
		},
		fetch() {
			// The `fetch` method is used to fill the store before rendering the page
		},
		head() {
			// Set Meta Tags for this Page
		}
	};
</script>
